<!--====== ABOUT PART START ======-->
<section class="services_area pt-120" id="culture">
    <div class="container">
        <div class="row justify-center">
            <div class="w-full lg:w-1/2">
                <div class="section_title text-center pb-6">
                    <h5 class="sub_title">
                        Excellence or Nothing - Xuất sắc hoặc Không gì cả
                    </h5>
                    <h4 class="main_title">5 Niềm tin cốt lõi</h4>
                </div>
                <!-- section title -->
            </div>
        </div>
        <!-- row -->
        <div class="row justify-center">
            <div class="w-full sm:w-9/12 md:w-7/12 lg:w-4/12">
                <div class="single_pricing text-center mt-8 mx-3">
                    <div class="pricing_title relative inline-block">
                        <h4 class="title group-hover:text-white">
                            <span class="font-bold text-4xl"> 1 </span>
                        </h4>
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="112"
                            height="110"
                            viewBox="0 0 112 110"
                        >
                            <path
                                class="services_shape"
                                id="Polygon_15"
                                data-name="Polygon 15"
                                d="M51.2,2.329a11,11,0,0,1,9.6,0L96.15,19.478a11,11,0,0,1,5.927,7.466l8.76,38.665a11,11,0,0,1-2.1,9.258l-24.508,30.96A11,11,0,0,1,75.6,110H36.4a11,11,0,0,1-8.625-4.173L3.266,74.867a11,11,0,0,1-2.1-9.258l8.76-38.665a11,11,0,0,1,5.927-7.466Z"
                                fill="#f94f4f"></path>
                        </svg>
                    </div>
                    <div class="pricing_content mt-6">
                        <span class="pricing_price font-bold text-black text-xl"
                            >"Trong mọi con đường tới thành công, nhất định có
                            con đường ngắn nhất"</span
                        >
                        <p class="mt-4 leading-9">
                            GODA MEDIA luôn tìm kiếm những giải pháp tối ưu và
                            hiệu quả nhất để đạt được mục tiêu.
                        </p>
                    </div>
                </div>
                <!-- single pricing -->
            </div>
            <div class="w-full sm:w-9/12 md:w-7/12 lg:w-4/12">
                <div class="single_pricing text-center mt-8 mx-3">
                    <div class="pricing_title relative inline-block">
                        <h4 class="title group-hover:text-white">
                            <span class="font-bold text-4xl"> 2 </span>
                        </h4>
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="112"
                            height="110"
                            viewBox="0 0 112 110"
                        >
                            <path
                                class="services_shape"
                                id="Polygon_15"
                                data-name="Polygon 15"
                                d="M51.2,2.329a11,11,0,0,1,9.6,0L96.15,19.478a11,11,0,0,1,5.927,7.466l8.76,38.665a11,11,0,0,1-2.1,9.258l-24.508,30.96A11,11,0,0,1,75.6,110H36.4a11,11,0,0,1-8.625-4.173L3.266,74.867a11,11,0,0,1-2.1-9.258l8.76-38.665a11,11,0,0,1,5.927-7.466Z"
                                fill="#f94f4f"></path>
                        </svg>
                    </div>
                    <div class="pricing_content mt-6">
                        <span class="pricing_price font-bold text-black text-xl"
                            >"Khi có đủ niềm tin, sẽ tạo ra động lực thực hiện
                            không giới hạn"</span
                        >
                        <p class="mt-4 leading-9">
                            Niềm tin vào bản thân và mục tiêu là động lực giúp
                            GODA MEDIA vượt qua mọi khó khăn và thử thách.
                        </p>
                    </div>
                </div>
                <!-- single pricing -->
            </div>
            <div class="w-full sm:w-9/12 md:w-7/12 lg:w-4/12">
                <div class="single_pricing text-center mt-8 mx-3">
                    <div class="pricing_title relative inline-block">
                        <h4 class="title group-hover:text-white">
                            <span class="font-bold text-4xl"> 3 </span>
                        </h4>
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="112"
                            height="110"
                            viewBox="0 0 112 110"
                        >
                            <path
                                class="services_shape"
                                id="Polygon_15"
                                data-name="Polygon 15"
                                d="M51.2,2.329a11,11,0,0,1,9.6,0L96.15,19.478a11,11,0,0,1,5.927,7.466l8.76,38.665a11,11,0,0,1-2.1,9.258l-24.508,30.96A11,11,0,0,1,75.6,110H36.4a11,11,0,0,1-8.625-4.173L3.266,74.867a11,11,0,0,1-2.1-9.258l8.76-38.665a11,11,0,0,1,5.927-7.466Z"
                                fill="#f94f4f"></path>
                        </svg>
                    </div>
                    <div class="pricing_content mt-6">
                        <span class="pricing_price font-bold text-black text-xl"
                            >"Internet hoặc Không có gì"</span
                        >
                        <p class="mt-4 leading-9">
                            GODA MEDIA tin rằng Internet là công cụ mạnh mẽ để
                            kết nối mọi người và truyền tải thông điệp.
                        </p>
                    </div>
                </div>
                <!-- single pricing -->
            </div>
            <div class="w-full sm:w-9/12 md:w-7/12 lg:w-4/12">
                <div class="single_pricing text-center mt-8 mx-3">
                    <div class="pricing_title relative inline-block">
                        <h4 class="title group-hover:text-white">
                            <span class="font-bold text-4xl"> 4 </span>
                        </h4>
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="112"
                            height="110"
                            viewBox="0 0 112 110"
                        >
                            <path
                                class="services_shape"
                                id="Polygon_15"
                                data-name="Polygon 15"
                                d="M51.2,2.329a11,11,0,0,1,9.6,0L96.15,19.478a11,11,0,0,1,5.927,7.466l8.76,38.665a11,11,0,0,1-2.1,9.258l-24.508,30.96A11,11,0,0,1,75.6,110H36.4a11,11,0,0,1-8.625-4.173L3.266,74.867a11,11,0,0,1-2.1-9.258l8.76-38.665a11,11,0,0,1,5.927-7.466Z"
                                fill="#f94f4f"></path>
                        </svg>
                    </div>
                    <div class="pricing_content mt-6">
                        <span class="pricing_price font-bold text-black text-xl"
                            >"Tìm đúng người, hỏi đúng chuyện, làm đúng việc"</span
                        >
                        <p class="mt-4 leading-9">
                            GODA MEDIA đề cao tinh thần làm việc nhóm và hợp tác
                            hiệu quả.
                        </p>
                    </div>
                </div>
                <!-- single pricing -->
            </div>
            <div class="w-full sm:w-9/12 md:w-7/12 lg:w-4/12">
                <div class="single_pricing text-center mt-8 mx-3">
                    <div class="pricing_title relative inline-block">
                        <h4 class="title group-hover:text-white">
                            <span class="font-bold text-4xl"> 5 </span>
                        </h4>
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="112"
                            height="110"
                            viewBox="0 0 112 110"
                        >
                            <path
                                class="services_shape"
                                id="Polygon_15"
                                data-name="Polygon 15"
                                d="M51.2,2.329a11,11,0,0,1,9.6,0L96.15,19.478a11,11,0,0,1,5.927,7.466l8.76,38.665a11,11,0,0,1-2.1,9.258l-24.508,30.96A11,11,0,0,1,75.6,110H36.4a11,11,0,0,1-8.625-4.173L3.266,74.867a11,11,0,0,1-2.1-9.258l8.76-38.665a11,11,0,0,1,5.927-7.466Z"
                                fill="#f94f4f"></path>
                        </svg>
                    </div>
                    <div class="pricing_content mt-6">
                        <span class="pricing_price font-bold text-black text-xl"
                            >"Hãy thành công theo cách đơn giản"</span
                        >
                        <p class="mt-4 leading-9">
                            GODA MEDIA luôn hướng đến những giải pháp đơn giản
                            nhưng hiệu quả để đạt được thành công.
                        </p>
                    </div>
                </div>
                <!-- single pricing -->
            </div>
        </div>
        <!-- row -->
    </div>
    <!-- container -->
</section>

<!--====== ABOUT PART ENDS ======-->
