<section class="overflow-hidden sm:grid sm:grid-cols-2 mt-20 px-4">
    <div class="p-8 md:p-12 lg:px-16 lg:py-24">
        <div
            class="mx-auto max-w-xl text-center ltr:sm:text-left rtl:sm:text-right"
        >
            <h2 class="text-2xl font-bold text-gray-900 md:text-3xl">
                Chào mừng đến với <span
                    class="text-theme-color text-4xl md:text-5xl"
                    >GODA NETWORK</span
                >
            </h2>

            <p class="text-gray-500 mt-4 block">
                Chuyên gia xây dựng kênh Youtube giáo dục giải trí hàng đầu tại
                thị trường Mỹ
            </p>

            <div class="stats stats-vertical lg:stats-horizontal shadow my-4">
                <div class="stat">
                    <div class="stat-title">Subsribers</div>
                    <div class="stat-value text-green-600">15M</div>
                    <div class="stat-desc">YouTube</div>
                </div>

                <div class="stat">
                    <div class="stat-title">Kinh nghiệm</div>
                    <div class="stat-value text-theme-color">8 năm</div>
                    <div class="stat-desc">Sản xuất nội dung</div>
                </div>

                <div class="stat">
                    <div class="stat-title">YouTube Awards</div>
                    <div class="stat-value text-blue-600">45+</div>
                    <div class="stat-desc">Nút vàng, nút bạc</div>
                </div>
            </div>

            <div class="mt-4 md:mt-8">
                <a
                    href="contact"
                    class="inline-block rounded bg-theme-color px-12 py-3 text-sm font-medium text-white transition hover:bg-emerald-700 focus:outline-none focus:ring focus:ring-yellow-400"
                >
                    Liên hệ ngay
                </a>
            </div>
        </div>
    </div>

    <img
        alt=""
        src="/images/hero-img.jpg"
        class="h-56 w-full rounded-md object-cover sm:h-full"
    />
</section>
