<!--====== HERO PART START ======-->
<div
    id="home"
    class="header_hero bg-gray relative z-10 h- overflow-hidden lg:flex items-center"
>
    <div class="hero_shape shape_1">
        <img src="images/shape/shape-1.svg" alt="shape" />
    </div><!-- hero shape -->
    <div class="hero_shape shape_2">
        <img src="images/shape/shape-2.svg" alt="shape" />
    </div><!-- hero shape -->
    <div class="hero_shape shape_3">
        <img src="images/shape/shape-3.svg" alt="shape" />
    </div><!-- hero shape -->
    <div class="hero_shape shape_4">
        <img src="images/shape/shape-4.svg" alt="shape" />
    </div><!-- hero shape -->
    <div class="hero_shape shape_6">
        <img src="images/shape/shape-1.svg" alt="shape" />
    </div><!-- hero shape -->
    <div class="hero_shape shape_7">
        <img src="images/shape/shape-4.svg" alt="shape" />
    </div><!-- hero shape -->
    <div class="hero_shape shape_8">
        <img src="images/shape/shape-3.svg" alt="shape" />
    </div><!-- hero shape -->
    <div class="hero_shape shape_9">
        <img src="images/shape/shape-2.svg" alt="shape" />
    </div><!-- hero shape -->
    <div class="hero_shape shape_10">
        <img src="images/shape/shape-4.svg" alt="shape" />
    </div><!-- hero shape -->
    <div class="hero_shape shape_11">
        <img src="images/shape/shape-1.svg" alt="shape" />
    </div><!-- hero shape -->
    <div class="hero_shape shape_12">
        <img src="images/shape/shape-2.svg" alt="shape" />
    </div><!-- hero shape -->

    <div class="container">
        <div class="row">
            <div class="w-full lg:w-1/2">
                <div class="header_hero_content pt-150 lg:pt-0">
                    <h2
                        class="hero_title text-2xl sm:text-4xl md:text-5xl lg:text-4xl xl:text-5xl font-extrabold"
                    >
                        Chào mừng đến với <span class="text-theme-color"
                            >GODA NETWORK</span
                        >
                    </h2>
                    <p class="mt-8 lg:mr-8">
                        8 năm Kinh nghiệm sản xuất nội dung Content trên Youtube
                        với tổng cộng 15 triệu lượt đăng ký trên Youtube
                    </p>
                    <div class="hero_btn mt-10">
                        <a class="main-btn" href="#0">Liên Hệ Ngay</a>
                    </div>
                </div>
                <!-- header hero content -->
            </div>
        </div>
        <!-- row -->
    </div>
    <!-- container -->
    <div class="header_shape hidden lg:block"></div>

    <div class="header_image flex items-center">
        <div class="image 2xl:pl-25">
            <img src="images/header-image.svg" alt="Header Image" />
        </div>
    </div>
    <!-- Hero image -->
</div>
<!--====== HERO PART END ======-->
