<!--====== Intro PART START ======-->
<section id="intro" class="about_area pt-[120px] relative">
    <div class="container">
        <div class="row justify-end">
            <div class="w-full lg:w-1/2">
                <div class="about_content mx-4 pt-11 lg:pt-15 lg:pb-15">
                    <div class="section_title pb-9">
                        <h5 class="sub_title">
                            Chuyên gia xây dựng kênh Youtube giáo dục giải trí
                            hàng đầu tại thị trường Mỹ
                        </h5>
                        <h4 class="main_title">GODA MEDIA</h4>
                    </div>
                    <!-- section title -->
                    <p>
                        <span class="font-bold">GODA MEDIA</span> tự hào là công
                        ty hàng đầu trong lĩnh vực MMO (Make Money Online), chuyên
                        về xây dựng và phát triển các kênh Youtube nội dung giáo
                        dục giải trí chất lượng cao cho thị trường Mỹ. Với đội ngũ
                        chuyên gia dày dặn kinh nghiệm và am hiểu sâu sắc thị trường,
                        GODA MEDIA đã và đang sở hữu nhiều kênh Youtube thành công
                        thu hút hàng triệu lượt xem mỗi tháng.
                    </p>
                </div>
                <!-- about content -->
            </div>
        </div>
        <!-- row -->
    </div>
    <div class="about_image flex items-end justify-end">
        <div class="image w-full md:px-4 lg:px-6">
            <img
                src="images/photo.jpg"
                alt="GODA Team Photo"
                class="object-cover"
            />
        </div>
    </div>
</section>

<!--====== Intro PART ENDS ======-->
