<!--====== Intro PART START ======-->
<section id="intro" class="about_area pt-120 relative">
    <div class="about_image flex items-end justify-end">
        <div class="image w-fit lg:px-6">
            <img src="images/photo.jpg" alt="GODA Team Photo" />
        </div>
    </div>
    <!-- about image -->
    <div class="container">
        <div class="row justify-end">
            <div class="w-full lg:w-1/2">
                <div class="about_content mx-4 pt-11 lg:pt-15 lg:pb-15">
                    <div class="section_title pb-9">
                        <h5 class="sub_title">
                            Chuyên gia xây dựng kênh Youtube giáo dục giải trí
                            hàng đầu tại thị trường Mỹ
                        </h5>
                        <h4 class="main_title">GODA MEDIA</h4>
                    </div>
                    <!-- section title -->
                    <p>
                        <span class="font-bold">GODA MEDIA</span> tự hào là công
                        ty hàng đầu trong lĩnh vực MMO (Make Money Online), chuyên
                        về xây dựng và phát triển các kênh Youtube nội dung giáo
                        dục giải trí chất lượng cao cho thị trường Mỹ. Với đội ngũ
                        chuyên gia dày dặn kinh nghiệm và am hiểu sâu sắc thị trường,
                        GODA MEDIA đã và đang sở hữu nhiều kênh Youtube thành công
                        thu hút hàng triệu lượt xem mỗi tháng.
                    </p>
                    <div class="pt-3">
                        <h5>Lợi thế của GODA MEDIA:</h5>
                        <ul class="about_list">
                            <li class="flex mt-5">
                                <div class="about_check">
                                    <span
                                        class="font-extrabold text-xl text-theme-color"
                                        >&GT;</span
                                    >
                                </div>
                                <div class="about_list_content pl-5 pr-2">
                                    <p>
                                        <span class="font-bold text-theme-color"
                                            >Nội dung độc đáo và sáng tạo:
                                        </span>
                                        Đội ngũ sáng tạo nội dung của GODA MEDIA
                                        luôn cập nhật những xu hướng mới nhất và
                                        sáng tạo những nội dung độc đáo, thu hút
                                        người xem Mỹ.
                                    </p>
                                </div>
                            </li>
                            <li class="flex mt-5">
                                <div class="about_check">
                                    <span
                                        class="font-extrabold text-xl text-theme-color"
                                        >&GT;</span
                                    >
                                </div>
                                <div class="about_list_content pl-5 pr-2">
                                    <p>
                                        <span
                                            class="font-bold text-theme-color"
                                        >
                                            Sản xuất chuyên nghiệp:
                                        </span>
                                        GODA MEDIA sở hữu đội ngũ sản xuất chuyên
                                        nghiệp với trang thiết bị hiện đại, đảm bảo
                                        chất lượng video luôn ở mức cao nhất.
                                    </p>
                                </div>
                            </li>
                            <li class="flex mt-5">
                                <div class="about_check">
                                    <span
                                        class="font-extrabold text-xl text-theme-color"
                                        >&GT;</span
                                    >
                                </div>
                                <div class="about_list_content pl-5 pr-2">
                                    <p>
                                        <span
                                            class="font-bold text-theme-color"
                                        >
                                            Quảng bá hiệu quả:
                                        </span>
                                        GODA MEDIA áp dụng các chiến lược quảng bá
                                        hiệu quả để thu hút lượng lớn người xem cho
                                        các kênh Youtube của mình.
                                    </p>
                                </div>
                            </li>
                            <li class="flex mt-5">
                                <div class="about_check">
                                    <span
                                        class="font-extrabold text-xl text-theme-color"
                                        >&GT;</span
                                    >
                                </div>
                                <div class="about_list_content pl-5 pr-2">
                                    <p>
                                        <span
                                            class="font-bold text-theme-color"
                                        >
                                            Tối ưu hóa SEO:
                                        </span>
                                        GODA MEDIA tối ưu hóa SEO cho các kênh Youtube
                                        để tăng khả năng hiển thị trên kết quả tìm
                                        kiếm.
                                    </p>
                                </div>
                            </li>
                            <li class="flex mt-5">
                                <div class="about_check">
                                    <span
                                        class="font-extrabold text-xl text-theme-color"
                                        >&GT;</span
                                    >
                                </div>
                                <div class="about_list_content pl-5 pr-2">
                                    <p>
                                        <span
                                            class="font-bold text-theme-color"
                                        >
                                            Phân tích dữ liệu:
                                        </span>
                                        GODA MEDIA thường xuyên phân tích dữ liệu
                                        người xem để hiểu rõ hơn về sở thích và nhu
                                        cầu của họ, từ đó điều chỉnh nội dung phù
                                        hợp.
                                    </p>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="pt-3">
                        <h5>Thành tựu của GODA MEDIA:</h5>
                        <ul class="about_list">
                            <li class="flex mt-5">
                                <div class="about_check">
                                    <span
                                        class="font-extrabold text-xl text-theme-color"
                                        >&GT;</span
                                    >
                                </div>
                                <div class="about_list_content pl-5 pr-2">
                                    <p>
                                        Sở hữu nhiều kênh Youtube giáo dục giải
                                        trí thu hút hàng triệu lượt xem mỗi
                                        tháng.
                                    </p>
                                </div>
                            </li>
                            <li class="flex mt-5">
                                <div class="about_check">
                                    <span
                                        class="font-extrabold text-xl text-theme-color"
                                        >&GT;</span
                                    >
                                </div>
                                <div class="about_list_content pl-5 pr-2">
                                    <p>
                                        Nội dung được đánh giá cao về chất lượng
                                        và tính sáng tạo.
                                    </p>
                                </div>
                            </li>
                            <li class="flex mt-5">
                                <div class="about_check">
                                    <span
                                        class="font-extrabold text-xl text-theme-color"
                                        >&GT;</span
                                    >
                                </div>
                                <div class="about_list_content pl-5 pr-2">
                                    <p>
                                        Kênh Youtube có lượng người đăng ký tăng
                                        trưởng nhanh chóng.
                                    </p>
                                </div>
                            </li>
                            <li class="flex mt-5">
                                <div class="about_check">
                                    <span
                                        class="font-extrabold text-xl text-theme-color"
                                        >&GT;</span
                                    >
                                </div>
                                <div class="about_list_content pl-5 pr-2">
                                    <p>
                                        Doanh thu từ các kênh Youtube luôn ở mức
                                        cao.
                                    </p>
                                </div>
                            </li>
                            <li class="flex mt-5">
                                <div class="about_check">
                                    <span
                                        class="font-extrabold text-xl text-theme-color"
                                        >&GT;</span
                                    >
                                </div>
                                <div class="about_list_content pl-5 pr-2">
                                    <p>
                                        <span
                                            class="font-bold text-theme-color"
                                        >
                                            Phân tích dữ liệu:
                                        </span>
                                        GODA MEDIA thường xuyên phân tích dữ liệu
                                        người xem để hiểu rõ hơn về sở thích và nhu
                                        cầu của họ, từ đó điều chỉnh nội dung phù
                                        hợp.
                                    </p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- about content -->
            </div>
        </div>
        <!-- row -->
    </div>
    <!-- container -->
</section>

<!--====== Intro PART ENDS ======-->
