<section class="flex flex-col pt-18 pb-120">
    <div class="row justify-center pb-5">
        <div class="w-full lg:w-1/2">
            <div class="section_title text-center pb-6">
                <h5 class="sub_title">Đối tác</h5>
                <h4 class="main_title">Đối tác của GODA Network</h4>
            </div>
            <!-- section title -->
        </div>
        <div class="grid grid-cols-2 lg:grid-cols-4 gap-6 pt-9 px-4">
            <a href="" class="col-span-1 w-fit"
                ><img
                    src="images/partner1.png"
                    alt=""
                    class="hover:scale-125 transition-transform"
                /></a
            >
            <a href="" class="col-span-1 w-fit"
                ><img
                    src="images/partner2.png"
                    alt=""
                    class="hover:scale-125 transition-transform"
                /></a
            >
            <a href="" class="col-span-1 w-fit"
                ><img
                    src="images/partner3.png"
                    alt=""
                    class="hover:scale-125 transition-transform"
                /></a
            >
            <a href="" class="col-span-1 w-fit"
                ><img
                    src="images/partner4.png"
                    alt=""
                    class="hover:scale-125 transition-transform"
                /></a
            >
        </div>
    </div>
</section>
