<section class="flex flex-col pt-18 pb-120">
    <div class="row justify-center pb-5">
        <div class="w-full lg:w-1/2">
            <div class="section_title text-center pb-6">
                <h5 class="sub_title">Đối tác</h5>
                <h4 class="main_title">Đối tác của GODA Network</h4>
            </div>
            <!-- section title -->
        </div>
    </div>
    <div class="carousel w-1/4 mx-auto">
        <div id="item1" class="carousel-item w-full">
            <img src="/images/partner1.png" class="w-full" />
        </div>
        <div id="item2" class="carousel-item w-full">
            <img src="/images/partner2.png" class="w-full" />
        </div>
        <div id="item3" class="carousel-item w-full">
            <img src="/images/partner3.png" class="w-full" />
        </div>
        <div id="item4" class="carousel-item w-full">
            <img src="/images/partner4.png" class="w-full" />
        </div>
    </div>
    <div class="flex justify-center w-full py-2 gap-2">
        <a href="#item1" class="btn btn-xs">1</a>
        <a href="#item2" class="btn btn-xs">2</a>
        <a href="#item3" class="btn btn-xs">3</a>
        <a href="#item4" class="btn btn-xs">4</a>
    </div>
</section>
