<section id="vision" class="pt-10">
    <div class="py-4 px-25">
        <div class="pt-3">
            <h5>Lợi thế của GODA MEDIA:</h5>
            <ul class="about_list">
                <li class="flex mt-5">
                    <div class="about_check">
                        <span class="font-extrabold text-xl text-theme-color"
                            >&GT;</span
                        >
                    </div>
                    <div class="about_list_content pl-5 pr-2">
                        <p>
                            <span class="font-bold text-theme-color"
                                >Nội dung độc đáo và sáng tạo:
                            </span>
                            Đội ngũ sáng tạo nội dung của GODA MEDIA luôn cập nhật
                            những xu hướng mới nhất và sáng tạo những nội dung độc
                            đáo, thu hút người xem Mỹ.
                        </p>
                    </div>
                </li>
                <li class="flex mt-5">
                    <div class="about_check">
                        <span class="font-extrabold text-xl text-theme-color"
                            >&GT;</span
                        >
                    </div>
                    <div class="about_list_content pl-5 pr-2">
                        <p>
                            <span class="font-bold text-theme-color">
                                Sản xuất chuyên nghiệp:
                            </span>
                            GODA MEDIA sở hữu đội ngũ sản xuất chuyên nghiệp với
                            trang thiết bị hiện đại, đảm bảo chất lượng video luôn
                            ở mức cao nhất.
                        </p>
                    </div>
                </li>
                <li class="flex mt-5">
                    <div class="about_check">
                        <span class="font-extrabold text-xl text-theme-color"
                            >&GT;</span
                        >
                    </div>
                    <div class="about_list_content pl-5 pr-2">
                        <p>
                            <span class="font-bold text-theme-color">
                                Quảng bá hiệu quả:
                            </span>
                            GODA MEDIA áp dụng các chiến lược quảng bá hiệu quả để
                            thu hút lượng lớn người xem cho các kênh Youtube của
                            mình.
                        </p>
                    </div>
                </li>
                <li class="flex mt-5">
                    <div class="about_check">
                        <span class="font-extrabold text-xl text-theme-color"
                            >&GT;</span
                        >
                    </div>
                    <div class="about_list_content pl-5 pr-2">
                        <p>
                            <span class="font-bold text-theme-color">
                                Tối ưu hóa SEO:
                            </span>
                            GODA MEDIA tối ưu hóa SEO cho các kênh Youtube để tăng
                            khả năng hiển thị trên kết quả tìm kiếm.
                        </p>
                    </div>
                </li>
                <li class="flex mt-5">
                    <div class="about_check">
                        <span class="font-extrabold text-xl text-theme-color"
                            >&GT;</span
                        >
                    </div>
                    <div class="about_list_content pl-5 pr-2">
                        <p>
                            <span class="font-bold text-theme-color">
                                Phân tích dữ liệu:
                            </span>
                            GODA MEDIA thường xuyên phân tích dữ liệu người xem để
                            hiểu rõ hơn về sở thích và nhu cầu của họ, từ đó điều
                            chỉnh nội dung phù hợp.
                        </p>
                    </div>
                </li>
            </ul>
        </div>
        <div class="pt-3">
            <h5>Thành tựu của GODA MEDIA:</h5>
            <ul class="about_list">
                <li class="flex mt-3">
                    <div class="about_check">
                        <span class="font-extrabold text-xl text-theme-color"
                            >&GT;</span
                        >
                    </div>
                    <div class="about_list_content pl-5 pr-2">
                        <p>
                            Sở hữu nhiều kênh Youtube giáo dục giải trí thu hút
                            hàng triệu lượt xem mỗi tháng.
                        </p>
                    </div>
                </li>
                <li class="flex mt-3">
                    <div class="about_check">
                        <span class="font-extrabold text-xl text-theme-color"
                            >&GT;</span
                        >
                    </div>
                    <div class="about_list_content pl-5 pr-2">
                        <p>
                            Nội dung được đánh giá cao về chất lượng và tính
                            sáng tạo.
                        </p>
                    </div>
                </li>
                <li class="flex mt-3">
                    <div class="about_check">
                        <span class="font-extrabold text-xl text-theme-color"
                            >&GT;</span
                        >
                    </div>
                    <div class="about_list_content pl-5 pr-2">
                        <p>
                            Kênh Youtube có lượng người đăng ký tăng trưởng
                            nhanh chóng.
                        </p>
                    </div>
                </li>
                <li class="flex mt-3">
                    <div class="about_check">
                        <span class="font-extrabold text-xl text-theme-color"
                            >&GT;</span
                        >
                    </div>
                    <div class="about_list_content pl-5 pr-2">
                        <p>Doanh thu từ các kênh Youtube luôn ở mức cao.</p>
                    </div>
                </li>
            </ul>
        </div>
        <p class="pt-3">
            <span class="font-bold">GODA MEDIA</span> không ngừng nỗ lực để mang
            đến những nội dung giáo dục giải trí chất lượng cao cho người xem Mỹ.
            Chúng tôi mong muốn góp phần xây dựng một cộng đồng Youtube lành mạnh
            và bổ ích.
        </p>
    </div>
    <ul
        class="timeline timeline-snap-icon max-md:timeline-compact timeline-vertical h-fit px-4"
    >
        <li>
            <div class="timeline-middle">
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 20 20"
                    fill="black"
                    class="h-5 w-5"
                    ><path
                        fill-rule="evenodd"
                        d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
                        clip-rule="evenodd"></path></svg
                >
            </div>
            <div class="timeline-start md:text-end mb-10">
                <h5 class="font-bold text-theme-color text-xl">Tầm nhìn</h5>
                <div class="text-lg font-black">
                    Global Outreach Digital Advertising
                </div>
                GODA MEDIA hướng đến trở thành công ty hàng đầu trong lĩnh vực quảng
                cáo kỹ thuật số, chuyên về xây dựng và phát triển các kênh Youtube
                giáo dục giải trí chất lượng cao cho thị trường quốc tế.
            </div>
            <hr class="bg-black" />
        </li>
        <li>
            <hr class="bg-black" />
            <div class="timeline-middle">
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 20 20"
                    fill="currentColor"
                    class="h-5 w-5"
                    ><path
                        fill-rule="evenodd"
                        d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
                        clip-rule="evenodd"></path></svg
                >
            </div>
            <div class="timeline-end mb-10">
                <time class="font-bold text-theme-color text-xl">Sứ mệnh</time>
                <div class="text-lg font-black">
                    Đưa sáng tạo của người Việt ra toàn thế giới
                </div>
                GODA MEDIA mong muốn trở thành cầu nối giúp những nhà sáng tạo nội
                dung Việt Nam giới thiệu tài năng và tác phẩm của họ đến với khán
                giả quốc tế, đặc biệt là thị trường Mỹ.
            </div>
            <hr class="bg-black" />
        </li>
    </ul>
</section>
