<section id="vision" class="pt-10">
    <ul
        class="timeline timeline-snap-icon max-md:timeline-compact timeline-vertical h-fit px-4"
    >
        <li>
            <div class="timeline-middle">
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 20 20"
                    fill="black"
                    class="h-5 w-5"
                    ><path
                        fill-rule="evenodd"
                        d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
                        clip-rule="evenodd"></path></svg
                >
            </div>
            <div class="timeline-start md:text-end mb-10">
                <h5 class="font-bold text-theme-color text-xl">Tầm nhìn</h5>
                <div class="text-lg font-black">
                    Global Outreach Digital Advertising
                </div>
                GODA MEDIA hướng đến trở thành công ty hàng đầu trong lĩnh vực quảng
                cáo kỹ thuật số, chuyên về xây dựng và phát triển các kênh Youtube
                giáo dục giải trí chất lượng cao cho thị trường quốc tế.
            </div>
            <hr class="bg-black" />
        </li>
        <li>
            <hr class="bg-black" />
            <div class="timeline-middle">
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 20 20"
                    fill="currentColor"
                    class="h-5 w-5"
                    ><path
                        fill-rule="evenodd"
                        d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
                        clip-rule="evenodd"></path></svg
                >
            </div>
            <div class="timeline-end mb-10">
                <time class="font-bold text-theme-color text-xl">Sứ mệnh</time>
                <div class="text-lg font-black">
                    Đưa sáng tạo của người Việt ra toàn thế giới
                </div>
                GODA MEDIA mong muốn trở thành cầu nối giúp những nhà sáng tạo nội
                dung Việt Nam giới thiệu tài năng và tác phẩm của họ đến với khán
                giả quốc tế, đặc biệt là thị trường Mỹ.
            </div>
            <hr class="bg-black" />
        </li>
    </ul>
</section>
