---
import BaseHead from "../../components/BaseHead.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import Banner from "../../components/blog/Banner.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";
import PostCard from "../../components/blog/PostCard.astro";

const allPosts = await Astro.glob("./*.md");
---

<!doctype html>
<html lang="en">
    <head>
        <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    </head>
    <body>
        <Header />
        <Banner />
        <section
            class="p-20 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4"
        >
            {allPosts.map((post) => <PostCard {post} />)}
        </section>
        <Footer />
    </body>
</html>
