<div id="hs">
    <div class="container6">
        <div class="hoso">
            <div class="computer" data-aos="fade-up">
                <img src="/img/computer.png" alt="" />
            </div><!-- computer -->
            <div class="contenthoso">
                <h1 class="pb-2">Liên hệ nộp hồ sơ</h1>
                <h2>Cách 1:</h2>
                <button
                    class="btn bg-blue-500 hover:bg-green-500 text-white my-2 mb-4"
                    ><a
                        href="https://docs.google.com/forms/d/e/1FAIpQLSc2111w-XMWpe0v6mnX18l6abkPrBuXX0aCzitzBk1IDI_e1w/viewform"
                    >
                        Điền form ứng tuyển!</a
                    >
                </button>
                <h2>Cách 2:</h2>
                <p>
                    Ứng viên quan tâm vui lòng gửi CV về email: <b
                        >tuyendung@godamedia.vn</b
                    ><br />
                    Tiêu đề mail viết theo cấu trúc:<br />
                    <b
                        >Vị trí ứng tuyển_Họ và tên ứng viên (VD: Chuyên viên
                        Edit Motion_ Nguyễn Văn A)</b
                    ><br />
                    Liên hệ: <b style="color: crimson;"
                        >Bộ phận Tuyển dụng - 0888.527.686</b
                    ><br />
                    Văn phòng: <b>
                        Số 18, ngõ 250 Nguyễn Xiển, Thanh Xuân, Hà Nội.</b
                    >
                </p>
            </div><!-- contenthoso -->
        </div><!-- hoso -->
    </div><!-- container -->
</div>
