<section class="bg-[url('/images/photo.jpg')] bg-cover bg-center bg-no-repeat">
    <div
        class="px-4 w-full flex min-h-[60vh] lg:h-screen items-center bg-white/70 backdrop-blur-sm"
    >
        <div class="mx-auto max-w-xl text-center py-32">
            <h1 class="text-3xl font-extrabold sm:text-5xl">
                Cơ hội làm việc tại
                <span class="font-extrabold text-theme-color sm:block">
                    GODA NETWORK
                </span>
            </h1>

            <div class="mt-8 flex flex-wrap justify-center gap-4">
                <a
                    class="block w-full rounded bg-red-600 px-12 py-3 text-sm font-medium text-white shadow hover:bg-red-700 focus:outline-none focus:ring active:bg-red-500 sm:w-auto"
                    href="#positions"
                >
                    Tìm hiểu thêm
                </a>
            </div>
        </div>
    </div>
</section>
