<section id="positions">
    <div
        class="max-w-screen-xl px-4 py-8 sm:px-6 sm:py-12 lg:px-6 lg:py-16 mx-auto"
    >
        <div class="grid grid-cols-1 gap-y-8 items-center lg:gap-x-16">
            <!-- Headings -->
            <div class="mx-auto max-w-lg text-center lg:mx-0">
                <h2 class="text-3xl font-bold sm:text-4xl">
                    Vị trí đang Tuyển dụng
                </h2>
            </div>

            <!-- Positions List -->
            <div class="grid grid-cols-2 gap-4 sm:grid-cols-3 pt-4">
                <!-- Video Editor Dung Phim -->
                <a
                    class="block rounded-xl border border-gray-100 p-4 shadow-sm hover:border-gray-200 hover:ring-1 hover:ring-theme-color focus:outline-none focus:ring"
                    href="/tuyen-dung/video-editor-dung-phim"
                >
                    <span class="inline-block rounded-lg bg-gray-50 p-3">
                        <svg
                            class="h-6 w-6"
                            fill="none"
                            stroke="currentColor"
                            viewBox="0 0 24 24"
                            xmlns="http://www.w3.org/2000/svg"
                            ><defs
                                ><style>
                                    .cls-1 {
                                        fill: none;
                                        stroke: #020202;
                                        stroke-miterlimit: 10;
                                        stroke-width: 1.92px;
                                    }
                                </style></defs
                            ><line
                                class="cls-1"
                                x1="0.5"
                                y1="1.46"
                                x2="23.5"
                                y2="1.46"></line><line
                                class="cls-1"
                                x1="7.21"
                                y1="15.83"
                                x2="0.5"
                                y2="15.83"></line><line
                                class="cls-1"
                                x1="0.5"
                                y1="4.33"
                                x2="2.42"
                                y2="4.33"></line><line
                                class="cls-1"
                                x1="4.33"
                                y1="4.33"
                                x2="6.25"
                                y2="4.33"></line><line
                                class="cls-1"
                                x1="8.17"
                                y1="4.33"
                                x2="10.08"
                                y2="4.33"></line><line
                                class="cls-1"
                                x1="12"
                                y1="4.33"
                                x2="13.92"
                                y2="4.33"></line><line
                                class="cls-1"
                                x1="15.83"
                                y1="4.33"
                                x2="17.75"
                                y2="4.33"></line><line
                                class="cls-1"
                                x1="19.67"
                                y1="4.33"
                                x2="21.58"
                                y2="4.33"></line><line
                                class="cls-1"
                                x1="0.5"
                                y1="12.96"
                                x2="2.42"
                                y2="12.96"></line><line
                                class="cls-1"
                                x1="4.33"
                                y1="12.96"
                                x2="6.25"
                                y2="12.96"></line><line
                                class="cls-1"
                                x1="8.17"
                                y1="12.96"
                                x2="10.08"
                                y2="12.96"></line><line
                                class="cls-1"
                                x1="12"
                                y1="12.96"
                                x2="13.92"
                                y2="12.96"></line><circle
                                class="cls-1"
                                cx="13.92"
                                cy="20.63"
                                r="1.92"></circle><line
                                class="cls-1"
                                x1="15.83"
                                y1="9.13"
                                x2="15.83"
                                y2="20.63"></line><circle
                                class="cls-1"
                                cx="20.63"
                                cy="13.92"
                                r="1.92"></circle><line
                                class="cls-1"
                                x1="9.13"
                                y1="15.83"
                                x2="20.63"
                                y2="15.83"></line></svg
                        >
                    </span>

                    <h2 class="mt-2 font-bold">Video Editor Dựng phim</h2>

                    <p class="sm:mt-1 sm:block sm:text-sm sm:text-gray-600">
                        Full-Time
                    </p>
                </a>

                <!-- Video Editor Motion -->
                <a
                    class="block rounded-xl border border-gray-100 p-4 shadow-sm hover:border-gray-200 hover:ring-1 hover:ring-theme-color focus:outline-none focus:ring"
                    href="#"
                >
                    <span class="inline-block rounded-lg bg-gray-50 p-3">
                        <svg
                            class="h-6 w-6"
                            fill="none"
                            stroke="currentColor"
                            viewBox="0 0 24 24"
                            xmlns="http://www.w3.org/2000/svg"
                        >
                            <path
                                fill-rule="evenodd"
                                clip-rule="evenodd"
                                d="M5.00002 13.386V10.256C4.99969 9.27374 5.46025 8.34819 6.24402 7.75605C5.6257 6.94391 5.60542 5.82461 6.19393 4.99061C6.78243 4.15662 7.84379 3.80055 8.81619 4.1109C9.7886 4.42125 10.4475 5.32633 10.444 6.34705C10.445 5.65814 10.8989 5.0519 11.5596 4.85691C12.2203 4.66193 12.9306 4.92463 13.3055 5.50262C13.6804 6.08061 13.6305 6.83629 13.183 7.36005C14.3536 7.84719 15.1148 8.99218 15.111 10.26V10.36L16.62 9.40505C17.1007 9.10419 17.707 9.08883 18.2023 9.36498C18.6976 9.64113 19.0033 10.165 19 10.732V12.91C19.0033 13.4771 18.6976 14.001 18.2023 14.2771C17.707 14.5533 17.1007 14.5379 16.62 14.237L15.111 13.288V13.3881C15.1154 15.111 13.7229 16.5115 12 16.517H8.11102C7.28327 16.5144 6.49049 16.183 5.90706 15.5959C5.32363 15.0087 4.99736 14.2138 5.00002 13.386V13.386Z"
                                stroke="#000000"
                                stroke-width="1.5"
                                stroke-linecap="round"
                                stroke-linejoin="round"></path>
                            <path
                                d="M8.11099 11.071C7.69678 11.071 7.36099 11.4068 7.36099 11.821C7.36099 12.2353 7.69678 12.571 8.11099 12.571V11.071ZM12 12.571C12.4142 12.571 12.75 12.2353 12.75 11.821C12.75 11.4068 12.4142 11.071 12 11.071V12.571ZM15.861 10.354C15.861 9.93983 15.5252 9.60404 15.111 9.60404C14.6968 9.60404 14.361 9.93983 14.361 10.354H15.861ZM14.361 13.288C14.361 13.7023 14.6968 14.038 15.111 14.038C15.5252 14.038 15.861 13.7023 15.861 13.288H14.361ZM9.32499 20.395C9.32499 20.8093 9.66078 21.145 10.075 21.145C10.4892 21.145 10.825 20.8093 10.825 20.395H9.32499ZM10.825 16.517C10.825 16.1028 10.4892 15.767 10.075 15.767C9.66078 15.767 9.32499 16.1028 9.32499 16.517H10.825ZM10.6059 15.9873C10.3134 15.6941 9.83851 15.6935 9.54528 15.9861C9.25205 16.2786 9.25149 16.7535 9.54405 17.0468L10.6059 15.9873ZM13.413 20.9248C13.7056 21.218 14.1805 21.2185 14.4737 20.926C14.7669 20.6334 14.7675 20.1586 14.4749 19.8653L13.413 20.9248ZM10.6033 17.0494C10.8973 16.7576 10.8991 16.2828 10.6074 15.9888C10.3156 15.6947 9.84073 15.6929 9.54671 15.9847L10.6033 17.0494ZM5.63871 19.8627C5.34469 20.1544 5.34286 20.6293 5.63462 20.9233C5.92639 21.2173 6.40126 21.2192 6.69527 20.9274L5.63871 19.8627ZM5.79109 7.15323C5.46093 7.40336 5.39605 7.87378 5.64618 8.20394C5.89631 8.53411 6.36673 8.59898 6.6969 8.34885L5.79109 7.15323ZM8.11099 7.12504L8.11001 7.87504H8.11099V7.12504ZM10.311 7.87504C10.7252 7.87504 11.061 7.53925 11.061 7.12504C11.061 6.71083 10.7252 6.37504 10.311 6.37504V7.87504ZM10.0017 7.49865C10.208 7.85781 10.6664 7.9817 11.0256 7.77536C11.3848 7.56902 11.5087 7.11059 11.3023 6.75143L10.0017 7.49865ZM10.444 6.34204L11.194 6.34127C11.1936 5.92752 10.8582 5.59228 10.4444 5.59204C10.0307 5.59181 9.69489 5.92667 9.69399 6.34041L10.444 6.34204ZM9.60331 6.87666C9.46614 7.26751 9.67178 7.69555 10.0626 7.83272C10.4535 7.96989 10.8815 7.76426 11.0187 7.37342L9.60331 6.87666ZM10.652 6.37504C10.2378 6.37504 9.90199 6.71083 9.90199 7.12504C9.90199 7.53925 10.2378 7.87504 10.652 7.87504V6.37504ZM12 7.12504V7.87504L12.0011 7.87504L12 7.12504ZM12.8965 8.05215C13.2793 8.2104 13.7179 8.02836 13.8761 7.64557C14.0343 7.26277 13.8523 6.82417 13.4695 6.66593L12.8965 8.05215ZM10.653 7.87504C11.0672 7.87504 11.403 7.53925 11.403 7.12504C11.403 6.71083 11.0672 6.37504 10.653 6.37504V7.87504ZM10.312 6.37504C9.89778 6.37504 9.56199 6.71083 9.56199 7.12504C9.56199 7.53925 9.89778 7.87504 10.312 7.87504V6.37504ZM8.11099 12.571H12V11.071H8.11099V12.571ZM14.361 10.354V13.288H15.861V10.354H14.361ZM10.825 20.395V16.517H9.32499V20.395H10.825ZM9.54405 17.0468L13.413 20.9248L14.4749 19.8653L10.6059 15.9873L9.54405 17.0468ZM9.54671 15.9847L5.63871 19.8627L6.69527 20.9274L10.6033 17.0494L9.54671 15.9847ZM6.6969 8.34885C7.10353 8.04079 7.59986 7.87437 8.11001 7.87504L8.11198 6.37504C7.27411 6.37394 6.45894 6.64727 5.79109 7.15323L6.6969 8.34885ZM8.11099 7.87504H10.311V6.37504H8.11099V7.87504ZM11.3023 6.75143C11.231 6.62737 11.1937 6.48674 11.194 6.34367L9.69399 6.34041C9.69311 6.74681 9.79923 7.14627 10.0017 7.49865L11.3023 6.75143ZM9.69399 6.34282C9.69418 6.52461 9.66352 6.70513 9.60331 6.87666L11.0187 7.37342C11.1351 7.04176 11.1944 6.69276 11.194 6.34127L9.69399 6.34282ZM10.652 7.87504H12V6.37504H10.652V7.87504ZM12.0011 7.87504C12.3083 7.8746 12.6126 7.93479 12.8965 8.05215L13.4695 6.66593C13.0032 6.47317 12.5035 6.37432 11.9989 6.37504L12.0011 7.87504ZM10.653 6.37504H10.312V7.87504H10.653V6.37504Z"
                                fill="#000000"></path>
                        </svg>
                    </span>

                    <h2 class="mt-2 font-bold">Video Editor Motion</h2>

                    <p class="sm:mt-1 sm:block sm:text-sm sm:text-gray-600">
                        Full-Time
                    </p>
                </a>

                <!-- Graphic Designer -->
                <a
                    class="block rounded-xl border border-gray-100 p-4 shadow-sm hover:border-gray-200 hover:ring-1 hover:ring-theme-color focus:outline-none focus:ring"
                    href="#"
                >
                    <span class="inline-block rounded-lg bg-gray-50 p-3">
                        <svg
                            class="h-6 w-6"
                            fill="none"
                            stroke="currentColor"
                            viewBox="0 0 24 24"
                            xmlns="http://www.w3.org/2000/svg"
                            ><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g
                                id="SVGRepo_tracerCarrier"
                                stroke-linecap="round"
                                stroke-linejoin="round"></g><g
                                id="SVGRepo_iconCarrier"
                            >
                                <path
                                    d="M22 12C22 16.714 22 19.0711 20.5355 20.5355C19.0711 22 16.714 22 12 22C7.28595 22 4.92893 22 3.46447 20.5355C2 19.0711 2 16.714 2 12C2 7.28595 2 4.92893 3.46447 3.46447C4.92893 2 7.28595 2 12 2"
                                    stroke="#000000"
                                    stroke-width="1.5"
                                    stroke-linecap="round"></path>
                                <path
                                    d="M2 12.5001L3.75159 10.9675C4.66286 10.1702 6.03628 10.2159 6.89249 11.0721L11.1822 15.3618C11.8694 16.0491 12.9512 16.1428 13.7464 15.5839L14.0446 15.3744C15.1888 14.5702 16.7369 14.6634 17.7765 15.599L21 18.5001"
                                    stroke="#000000"
                                    stroke-width="1.5"
                                    stroke-linecap="round"></path>
                                <path
                                    d="M18.562 2.9354L18.9791 2.5183C19.6702 1.82723 20.7906 1.82723 21.4817 2.5183C22.1728 3.20937 22.1728 4.32981 21.4817 5.02087L21.0646 5.43797M18.562 2.9354C18.562 2.9354 18.6142 3.82172 19.3962 4.60378C20.1783 5.38583 21.0646 5.43797 21.0646 5.43797M18.562 2.9354L14.7275 6.76995C14.4677 7.02968 14.3379 7.15954 14.2262 7.30273C14.0945 7.47163 13.9815 7.65439 13.8894 7.84776C13.8112 8.01169 13.7532 8.18591 13.637 8.53437L13.2651 9.65M21.0646 5.43797L17.23 9.27253C16.9703 9.53225 16.8405 9.66211 16.6973 9.7738C16.5284 9.90554 16.3456 10.0185 16.1522 10.1106C15.9883 10.1888 15.8141 10.2468 15.4656 10.363L14.35 10.7349M14.35 10.7349L13.6281 10.9755C13.4567 11.0327 13.2676 10.988 13.1398 10.8602C13.012 10.7324 12.9673 10.5433 13.0245 10.3719L13.2651 9.65M14.35 10.7349L13.2651 9.65"
                                    stroke="#000000"
                                    stroke-width="1.5"></path>
                            </g></svg
                        >
                    </span>

                    <h2 class="mt-2 font-bold">Graphic Designer</h2>

                    <p class="sm:mt-1 sm:block sm:text-sm sm:text-gray-600">
                        Full-Time
                    </p>
                </a>

                <!-- Thumbnail Designer -->
                <a
                    class="block rounded-xl border border-gray-100 p-4 shadow-sm hover:border-gray-200 hover:ring-1 hover:ring-theme-color focus:outline-none focus:ring"
                    href="#"
                >
                    <span class="inline-block rounded-lg bg-gray-50 p-3">
                        <svg
                            class="h-6 w-6"
                            fill="none"
                            stroke="currentColor"
                            viewBox="0 0 24 24"
                            xmlns="http://www.w3.org/2000/svg"
                            ><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g
                                id="SVGRepo_tracerCarrier"
                                stroke-linecap="round"
                                stroke-linejoin="round"></g><g
                                id="SVGRepo_iconCarrier"
                            >
                                <defs id="defs816">
                                    <inkscape:path-effect
                                        only_selected="false"
                                        apply_with_weight="true"
                                        apply_no_weight="true"
                                        helper_size="0"
                                        steps="2"
                                        weight="33.333333"
                                        is_visible="true"
                                        id="path-effect1025"
                                        effect="bspline"></inkscape:path-effect>
                                    <inkscape:path-effect
                                        only_selected="false"
                                        apply_with_weight="true"
                                        apply_no_weight="true"
                                        helper_size="0"
                                        steps="2"
                                        weight="33.333333"
                                        is_visible="true"
                                        id="path-effect1021"
                                        effect="bspline"></inkscape:path-effect>
                                </defs>
                                <sodipodi:namedview
                                    id="base"
                                    pagecolor="#ffffff"
                                    bordercolor="#666666"
                                    borderopacity="1.0"
                                    inkscape:pageopacity="0.0"
                                    inkscape:pageshadow="2"
                                    inkscape:zoom="17.833333"
                                    inkscape:cx="19.485981"
                                    inkscape:cy="13.037383"
                                    inkscape:document-units="px"
                                    inkscape:current-layer="layer1"
                                    showgrid="true"
                                    units="px"
                                    inkscape:window-width="1366"
                                    inkscape:window-height="713"
                                    inkscape:window-x="0"
                                    inkscape:window-y="0"
                                    inkscape:window-maximized="1"
                                    showguides="false"
                                    inkscape:guide-bbox="true"
                                >
                                    <sodipodi:guide
                                        position="21.126168,22.794393"
                                        orientation="1,0"
                                        id="guide1575"
                                        inkscape:locked="false"
                                    ></sodipodi:guide>
                                    <sodipodi:guide
                                        position="22.682243,23.285047"
                                        orientation="1,0"
                                        id="guide1635"
                                        inkscape:locked="false"
                                    ></sodipodi:guide>
                                    <sodipodi:guide
                                        position="22.682243,7.6455921"
                                        orientation="0,1"
                                        id="guide1639"
                                        inkscape:locked="false"
                                    ></sodipodi:guide>
                                    <sodipodi:guide
                                        position="18.859863,18.859863"
                                        orientation="1,0"
                                        id="guide1242"
                                        inkscape:locked="false"
                                    ></sodipodi:guide>
                                    <inkscape:grid type="xygrid" id="grid1103"
                                    ></inkscape:grid>
                                </sodipodi:namedview>
                                <metadata id="metadata819">
                                    <rdf:rdf>
                                        <cc:work rdf:about="">
                                            <dc:format>image/svg+xml</dc:format>
                                            <dc:type
                                                rdf:resource="http://purl.org/dc/dcmitype/StillImage"
                                            ></dc:type>
                                            <dc:title></dc:title>
                                        </cc:work>
                                    </rdf:rdf>
                                </metadata>
                                <g
                                    id="layer1"
                                    transform="translate(0,-289.0625)"
                                >
                                    <path
                                        style="opacity:1;fill:#000000;fill-opacity:1;stroke:none;stroke-width:2;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                                        d="M 8.2832031,5.453125 5.453125,8.2832031 6.515625,9.34375 7.9296875,7.9296875 8.6367188,8.6367188 7.2226562,10.050781 l 1.4140626,1.414063 1.4140622,-1.414063 0.707031,0.707031 -1.414062,1.414063 1.414062,1.414063 2.828126,-2.828126 z M 21.283203,5.8886719 18.617188,8.5546875 21.445312,11.382812 24.111328,8.7167969 C 23.72822,8.1781369 23.307331,7.6589012 22.824219,7.1757812 22.341109,6.6926712 21.821837,6.2718019 21.283203,5.8886719 Z M 17.203125,9.96875 6.5957031,20.576172 5.8886719,24.111328 9.4238281,23.404297 20.03125,12.796875 Z m 2.039063,6.445312 -2.828126,2.828126 1.414063,1.414062 1.414063,-1.414062 0.707031,0.707031 -1.414063,1.414062 1.414063,1.414063 1.414062,-1.414063 0.707031,0.707031 -1.414062,1.414063 1.060547,1.0625 2.830078,-2.830078 z"
                                        transform="translate(0,289.0625)"
                                        id="rect1114"
                                        inkscape:connector-curvature="0"></path>
                                </g>
                            </g></svg
                        >
                    </span>

                    <h2 class="mt-2 font-bold">Thumbnail Designer</h2>

                    <p class="sm:mt-1 sm:block sm:text-sm sm:text-gray-600">
                        Full-Time
                    </p>
                </a>

                <!-- Content Writer -->
                <a
                    class="block rounded-xl border border-gray-100 p-4 shadow-sm hover:border-gray-200 hover:ring-1 hover:ring-theme-color focus:outline-none focus:ring"
                    href="#"
                >
                    <span class="inline-block rounded-lg bg-gray-50 p-3">
                        <svg
                            class="h-6 w-6"
                            fill="none"
                            stroke="currentColor"
                            viewBox="0 0 24 24"
                            xmlns="http://www.w3.org/2000/svg"
                        >
                            <path
                                d="M21 6H3C2.72 6 2.5 6.22 2.5 6.5V14.5C2.5 14.78 2.72 15 3 15H5.5V19L9.5 15H21C21.28 15 21.5 14.78 21.5 14.5V6.5C21.5 6.23 21.28 6 21 6Z"
                                stroke="#0F0F0F"
                                stroke-miterlimit="10"
                                stroke-linecap="round"
                                stroke-linejoin="round"></path>
                            <path
                                d="M12 11.54C12.5523 11.54 13 11.0923 13 10.54C13 9.98771 12.5523 9.54 12 9.54C11.4477 9.54 11 9.98771 11 10.54C11 11.0923 11.4477 11.54 12 11.54Z"
                                fill="#0F0F0F"></path>
                            <path
                                d="M16 11.54C16.5523 11.54 17 11.0923 17 10.54C17 9.98771 16.5523 9.54 16 9.54C15.4477 9.54 15 9.98771 15 10.54C15 11.0923 15.4477 11.54 16 11.54Z"
                                fill="#0F0F0F"></path>
                            <path
                                d="M8 11.54C8.55228 11.54 9 11.0923 9 10.54C9 9.98771 8.55228 9.54 8 9.54C7.44772 9.54 7 9.98771 7 10.54C7 11.0923 7.44772 11.54 8 11.54Z"
                                fill="#0F0F0F"></path>
                        </svg>
                    </span>

                    <h2 class="mt-2 font-bold">Content Writer</h2>

                    <p class="sm:mt-1 sm:block sm:text-sm sm:text-gray-600">
                        Full-Time
                    </p>
                </a>

                <!-- Bien dich Kich Ban -->
                <a
                    class="block rounded-xl border border-gray-100 p-4 shadow-sm hover:border-gray-200 hover:ring-1 hover:ring-theme-color focus:outline-none focus:ring"
                    href="#"
                >
                    <span class="inline-block rounded-lg bg-gray-50 p-3">
                        <svg
                            class="h-6 w-6"
                            fill="none"
                            stroke="currentColor"
                            viewBox="0 0 24 24"
                            xmlns="http://www.w3.org/2000/svg"
                            ><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g
                                id="SVGRepo_tracerCarrier"
                                stroke-linecap="round"
                                stroke-linejoin="round"></g><g
                                id="SVGRepo_iconCarrier"
                            >
                                <title>script [#1603]</title>
                                <desc>Created with Sketch.</desc>
                                <defs> </defs>
                                <g
                                    id="Page-1"
                                    stroke="none"
                                    stroke-width="1"
                                    fill="none"
                                    fill-rule="evenodd"
                                >
                                    <g
                                        id="Dribbble-Light-Preview"
                                        transform="translate(-380.000000, -1879.000000)"
                                        fill="#000000"
                                    >
                                        <g
                                            id="icons"
                                            transform="translate(56.000000, 160.000000)"
                                        >
                                            <path
                                                d="M340,1723 L340,1721 C341.103,1721 342,1721.897 342,1723 L340,1723 Z M338,1735 C338,1736.103 337.103,1737 336,1737 L336,1735 C336,1733.895 335.105,1733 334,1733 L330,1733 L330,1723 C330,1721.895 330.895,1721 332,1721 L338,1721 L338,1735 Z M334,1737 L328,1737 C326.897,1737 326,1736.103 326,1735 L333,1735 C333.552,1735 334,1735.448 334,1736 L334,1737 Z M340,1719 L332,1719 C329.791,1719 328,1720.791 328,1723 L328,1733 L325,1733 C324.448,1733 324,1733.448 324,1734 L324,1735 C324,1737.209 325.791,1739 328,1739 L336,1739 C338.209,1739 340,1737.209 340,1735 L340,1725 L343,1725 C343.552,1725 344,1724.552 344,1724 L344,1723 C344,1720.791 342.209,1719 340,1719 L340,1719 Z"
                                                id="script-[#1603]"
                                            >
                                            </path>
                                        </g>
                                    </g>
                                </g>
                            </g></svg
                        >
                    </span>

                    <h2 class="mt-2 font-bold">Biên dịch Kịch bản Video</h2>

                    <p class="sm:mt-1 sm:block sm:text-sm sm:text-gray-600">
                        Full-Time
                    </p>
                </a>
            </div>
        </div>
    </div>
</section>
