---
import BaseHead from "../../components/BaseHead.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
---

<!doctype html>
<html lang="en">
    <head>
        <BaseHead />
    </head>
    <body>
        <Header />

        <div class="hero-section2">
            <div class="content" data-aos="fade-up">
                <h2 style=" color: #fff; ">Cơ hội làm việc tại</h2>
                <h2 style=" color: #fff; font-size: 75px; ">GODA NETWORK</h2>
            </div>
        </div>
        <!-- HEADER--><!-- HEADER--><!-- HEADER--><!-- HEADER--><!-- HEADER--><!-- HEADER--><!-- HEADER--><!-- HEADER--><!-- HEADER-->

        <div class="editphim">
            <h1>Chuyên viên Content Writer</h1>
            <h3>
                Thời gian làm việc: <strong
                    >8h30 - 18h00 (nghỉ trưa 1h30'), Thứ 2 - Thứ 6 + hai ngày
                    thứ 7 trong tháng.</strong
                >
                <br />
                Địa điểm làm việc: <strong>
                    80 Duy Tân, Cầu Giấy, Hà Nội.</strong
                >
            </h3>

            <span>MÔ TẢ CÔNG VIỆC</span>
            <p>
                <b>1. Mục đích của công việc: </b><br />
                - Sáng tạo nội dung theo chủ đề được giao và định hướng của từng
                chủ đề kênh;<br />
                <b>2. Nhiệm vụ và trách nhiệm chính:</b><br />
                - Viết content theo chủ đề được giao trên nền tảng mạng xã hội, chủ
                yếu trên Youtube;<br />
                - Đóng góp, xây dựng ý tưởng vào trong quá trình sản xuất;<br />
                - Phối hợp chặt chẽ với các bộ phận liên quan, đảm bảo chất lượng
                của nội dung;
            </p>

            <span>YÊU CẦU</span>
            <p>
                <b>1. Kinh nghiệm:</b>
                <br />
                - Từ 01 năm kinh tnghiệm tại vị trí tương đương;<br />
                <b>2. Kiến thức chuyên môn:</b><br />
                - Ưu tiên ứng viên tốt nghiệp các chuyên ngành liên quan Báo chí;
                <br />
                - Có kinh nghiệm viết nội dung trên kênh được phân công;<br />
                <b> 3. Kỹ năng:</b><br />
                - Có khả năng viết content video trên Youtube;<br />
                - Có khả năng tư duy sáng tạo, phân tích nội dung, chuyển tải ý tưởng;<br
                />
                - Có khả năng làm việc nhóm, làm việc độc lập;<br />
                - Có khả năng tiếng Anh tốt (đọc và viết);
            </p>

            <span>QUYỀN LỢI</span>
            <p>
                <b>1. Thu nhập: </b><br />
                - Lương cứng <b>9.000.000 - 12.000.000đ</b><br />
                <b>2. Thưởng:</b><br />
                - Thưởng hiệu quả kênh hàng tháng (theo lượt view kênh trong tháng
                tại các mốc đạt 3 triệu, 6 triệu, 10 triệu views/tháng);<br />
                - Thưởng vượt mốc KPIs;<br />
                - Thưởng chung toàn công ty các dịp lễ, tết, sinh nhật công ty, sinh
                nhật nhân sự;<br />
                <b>3. Phúc lợi:</b><br />
                - Du lịch, Team Building, Year End Party hàng năm;<br />
                <b>4. Đào tạo:</b><br />
                - Tham gia các khóa đào tạo chuyên sâu về Youtube;<br />
                <b>5. Quyền lợi khác:</b><br />
                - Được cấp máy tính 2 màn hình thỏa sức sáng tạo;<br />
                - Văn hóa làm việc không OT tại công ty;
            </p>
        </div>
        <!--  editphim-->

        <!-- BLD--><!-- BLD--><!-- BLD--><!-- BLD--><!-- BLD--><!-- BLD--><!-- BLD--><!-- BLD--><!-- BLD--><!-- BLD--><!-- BLD--><!-- BLD-->

        <div id="hs">
            <div class="container6">
                <div class="hoso">
                    <div class="computer" data-aos="fade-up">
                        <img src="/img/computer.png" alt="" />
                    </div><!-- computer -->
                    <div class="contenthoso">
                        <h1>Liên hệ nộp hồ sơ</h1>
                        <p>
                            Ứng viên quan tâm vui lòng gửi CV về email: <b
                                >tuyendung@godamedia.vn</b
                            ><br />
                            Tiêu đề mail viết theo cấu trúc:<br />
                            <b
                                >Vị trí ứng tuyển_Họ và tên ứng viên (VD: Chuyên
                                viên Edit Motion_ Nguyễn Văn A)</b
                            ><br />
                            Liên hệ: <b style="color: crimson;"
                                >Bộ phận Tuyển dụng - 0888.527.686</b
                            ><br />
                            Văn phòng: <b>
                                Số 18, ngõ 250 Nguyễn Xiển, Thanh Xuân, Hà Nội.</b
                            >
                        </p>
                    </div><!-- contenthoso -->
                </div><!-- hoso -->
            </div><!-- container -->
        </div>

        <Footer />
    </body>
</html>
