---
import BaseHead from "../../components/BaseHead.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";
---

<!doctype html>
<html lang="en">
    <head>
        <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    </head>
    <body>
        <Header />
        <div class="hero-section2 bg-[url('/img/br_tuyendung.jpg')]">
            <div
                class="content text-white font-semibold text-6xl"
                data-aos="fade-up"
            >
                <h2>Cơ hội làm việc tại</h2>
                <h2 class="font-bold">GODA NETWORK</h2>
            </div>
        </div>
        <div id="ut">
            <div class="card-container-td">
                <div class="card-info font-semibold" data-aos="fade-up">
                    <h2>Những ưu thế khi làm việc ở</h2>
                    <h1>GODA NETWORK</h1>
                </div>
                <div class="item-job">
                    <img src="img/td1.png" alt="" />
                    <div class="nd-tuyendung">
                        <h3>Thu nhập hấp dẫn</h3>
                        <p>
                            Thưởng cá nhân xuất sắc, thưởng theo kết quả kinh
                            doanh của Công ty. Thưởng tháng lương thứ 13, thưởng
                            lễ tết, thưởng sinh nhật. Ngoài ra còn phụ cấp và hỗ
                            trợ trang phục 2 mùa/năm
                        </p>
                    </div><!-- noidung -->
                </div>
                <!-- item-job -->

                <div class="item-job">
                    <img src="img/td4.png" alt="" />
                    <div class="nd-tuyendung">
                        <h3>Đào tạo phát triển</h3>
                        <p>
                            Đào tạo nội bộ các kĩ năng mềm, kĩ năng, chuyên môn
                            làm việc hàng tháng; được cử đi đào tạo nâng cao
                            chuyên môn, ngoại ngữ,...
                        </p>
                    </div><!-- noidung -->
                </div>
                <!-- item-job -->
                <div class="item-job">
                    <img src="img/td2.png" alt="" />
                    <div class="nd-tuyendung">
                        <h3>Môi trường làm việc</h3>
                        <p>
                            Năng động, thân thiện, sáng tạo và kích thích khả
                            năng phát triển cá nhân cao.
                        </p>
                    </div><!-- noidung -->
                </div>
                <!-- item-job -->

                <div class="item-job">
                    <img src="img/td5.png" alt="" />
                    <div class="nd-tuyendung">
                        <h3>Hoạt động khác</h3>
                        <p>
                            Đóng bảo hiểm, tuân thủ các chế độ theo Luật lao
                            động hiện hành: nghỉ phép, thai sản,...
                        </p>
                    </div><!-- noidung -->
                </div>
                <!-- item-job -->
                <div class="item-job">
                    <img src="img/td3.png" alt="" />
                    <div class="nd-tuyendung">
                        <h3>Các chế độ theo luật định</h3>
                        <p>
                            Thưởng cá nhân xuất sắc, thưởng theo kết quả kinh
                            doanh của Công ty. Thưởng tháng lương thứ 13, thưởng
                            lễ tết, thưởng sinh nhật. Ngoài ra còn phụ cấp và hỗ
                            trợ trang phục 2 mùa/năm
                        </p>
                    </div><!-- noidung -->
                </div>
                <!-- item-job -->
            </div><!--cardcontainer-->
        </div>
        <div id="vt">
            <div class="vitritd">
                <div class="card-container5">
                    <div class="card-info" data-aos="fade-up">
                        <h2>Vị trí đang Tuyển dụng</h2>
                    </div>

                    <div
                        class="card5"
                        data-aos="fade-up"
                        data-aos-anchor-placement="top-bottom"
                    >
                        <div class="img-hover-zoom">
                            <a href="tuyen-dung/editor-phim"
                                ><img src="img/4.jpg" /></a
                            >
                        </div>
                        <div class="card-content5">
                            <h4 class="did">Video Editor Dựng phim</h4>
                            <ul class="timefull">
                                <li>
                                    <i
                                        style="color: #ff6600;"
                                        class="fa-regular fa-calendar"></i> 31/03/2024
                                </li>
                                <li>
                                    <i
                                        style="color: #ff6600;"
                                        class="fa-regular fa-clock"></i> Fulltime
                                </li>
                            </ul>

                            <a href="tuyen-dung/editor-phim">Xem chi tiết</a>
                        </div><!--cardcontent-->
                    </div><!--card-->

                    <div
                        class="card5"
                        data-aos="fade-up"
                        data-aos-anchor-placement="top-bottom"
                    >
                        <div class="img-hover-zoom">
                            <a href="tuyen-dung/editor-motion"
                                ><img src="img/5.jpg" /></a
                            >
                        </div>
                        <div class="card-content5">
                            <h4 class="did">Video Editor Motion</h4>
                            <ul class="timefull">
                                <li>
                                    <i
                                        style="color: #ff6600;"
                                        class="fa-regular fa-calendar"></i> 31/03/2024
                                </li>
                                <li>
                                    <i
                                        style="color: #ff6600;"
                                        class="fa-regular fa-clock"></i> Fulltime
                                </li>
                            </ul>

                            <a href="tuyen-dung/editor-motion">Xem chi tiết</a>
                        </div><!--cardcontent-->
                    </div><!--card-->

                    <div
                        class="card5"
                        data-aos="fade-up"
                        data-aos-anchor-placement="top-bottom"
                    >
                        <div class="img-hover-zoom">
                            <a href="tuyen-dung/graphic"
                                ><img src="img/9.jpg" /></a
                            >
                        </div>
                        <div class="card-content5">
                            <h4 class="did">Graphic Designer</h4>
                            <ul class="timefull">
                                <li>
                                    <i
                                        style="color: #ff6600;"
                                        class="fa-regular fa-calendar"></i> 31/03/2024
                                </li>
                                <li>
                                    <i
                                        style="color: #ff6600;"
                                        class="fa-regular fa-clock"></i> Fulltime
                                </li>
                            </ul>

                            <a href="tuyen-dung/graphic">Xem chi tiết</a>
                        </div><!--cardcontent-->
                    </div><!--card-->

                    <div
                        class="card5"
                        data-aos="fade-up"
                        data-aos-anchor-placement="top-bottom"
                    >
                        <a href="">
                            <div class="img-hover-zoom">
                                <a href="tuyen-dung/thumbnail"
                                    ><img src="img/6.jpg" /></a
                                >
                            </div>
                            <div class="card-content5">
                                <h4 class="did">Thumbnail Designer</h4>
                                <ul class="timefull">
                                    <li>
                                        <i
                                            style="color: #ff6600;"
                                            class="fa-regular fa-calendar"></i> 31/03/2024
                                    </li>
                                    <li>
                                        <i
                                            style="color: #ff6600;"
                                            class="fa-regular fa-clock"></i> Fulltime
                                    </li>
                                </ul>

                                <a href="tuyen-dung/thumbnail">Xem chi tiết</a>
                            </div><!--cardcontent-->
                        </a><!--card-->
                    </div>
                    <div
                        class="card5"
                        data-aos="fade-up"
                        data-aos-anchor-placement="top-bottom"
                    >
                        <div class="img-hover-zoom">
                            <a href="tuyen-dung/bien-dich"
                                ><img src="img/8.jpg" /></a
                            >
                        </div>
                        <div class="card-content5">
                            <h4 class="did">Biên dịch Kịch bản Video</h4>
                            <ul class="timefull">
                                <li>
                                    <i
                                        style="color: #ff6600;"
                                        class="fa-regular fa-calendar"></i> 31/03/2024
                                </li>
                                <li>
                                    <i
                                        style="color: #ff6600;"
                                        class="fa-regular fa-clock"></i> Fulltime
                                </li>
                            </ul>

                            <a href="tuyen-dung/bien-dich">Xem chi tiết</a>
                        </div><!--cardcontent-->
                    </div><!--card-->

                    <div
                        class="card5"
                        data-aos="fade-up"
                        data-aos-anchor-placement="top-bottom"
                    >
                        <div class="img-hover-zoom">
                            <a href="tuyen-dung/content"
                                ><img src="img/7.jpg" /></a
                            >
                        </div>
                        <div class="card-content5">
                            <h4 class="did">Content Writer</h4>
                            <ul class="timefull">
                                <li>
                                    <i
                                        style="color: #ff6600;"
                                        class="fa-regular fa-calendar"></i> 31/03/2024
                                </li>
                                <li>
                                    <i
                                        style="color: #ff6600;"
                                        class="fa-regular fa-clock"></i> Fulltime
                                </li>
                            </ul>

                            <a href="tuyen-dung/content">Xem chi tiết</a>
                        </div><!--cardcontent-->
                    </div><!--card-->
                </div><!--cardcontainer-->
            </div><!--vitritd-->
        </div>

        <div id="hs">
            <div class="container6">
                <div class="hoso">
                    <div class="computer" data-aos="fade-up">
                        <img src="/img/computer.png" alt="" />
                    </div><!-- computer -->
                    <div class="contenthoso">
                        <h1>Liên hệ nộp hồ sơ</h1>
                        <p>
                            Ứng viên quan tâm vui lòng gửi CV về email: <b
                                >tuyendung@godamedia.vn</b
                            ><br />
                            Tiêu đề mail viết theo cấu trúc:<br />
                            <b
                                >Vị trí ứng tuyển_Họ và tên ứng viên (VD: Chuyên
                                viên Edit Motion_ Nguyễn Văn A)</b
                            ><br />
                            Liên hệ: <b style="color: crimson;"
                                >Bộ phận Tuyển dụng - 0888.527.686</b
                            ><br />
                            Văn phòng: <b>
                                Số 80 Phố Duy Tân, Dịch Vọng Hậu, Cầu Giấy, Hà
                                Nội.</b
                            >
                        </p>
                    </div><!-- contenthoso -->
                </div><!-- hoso -->
            </div><!-- container -->
        </div>
        <Footer />
    </body>
</html>
