---
import BaseHead from "../../components/BaseHead.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import Positions from "../../components/tuyen-dung/Positions.astro";
import Banner from "../../components/tuyen-dung/Banner.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";
---

<!doctype html>
<html lang="en">
    <head>
        <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    </head>
    <body>
        <Header />

        <section class="about_area pt-17 relative">
            <div class="container">
                <div class="row justify-end">
                    <div class="w-full">
                        <div class="about_content mx-4 pt-11 lg:pt-15 lg:pb-8">
                            <div class="section_title">
                                <h1 class="main_title text-theme-color">
                                    Chuyên viên Editor Dựng phim
                                </h1>
                                <h2 class="text-lg">
                                    <span class="font-bold"
                                        >Thời gian làm việc:</span
                                    >
                                    8h30 - 18h00 (nghỉ trưa 1h30'), Thứ 2 - Thứ 6
                                    + hai ngày thứ 7 trong tháng.
                                </h2>
                                <h2 class="text-lg">
                                    <span class="font-bold"
                                        >Địa điểm làm việc:</span
                                    >
                                    80 Duy Tân, Cầu Giấy, Hà Nội.
                                </h2>
                            </div>
                            <!-- section title -->
                        </div>
                        <div class="px-4 lg:px-25 py-8">
                            <!-- Mo ta cong viec -->
                            <div class="pb-4">
                                <h3 class="text-xl text-theme-color">
                                    MÔ TẢ CÔNG VIỆC
                                </h3>
                                <h4 class="font-semibold text-lg">
                                    1. Mục đích của công việc:
                                </h4>
                                <ul class="list-disc pl-5 text-black pb-3">
                                    <li>
                                        Edit Video đảm bảo yêu cầu theo định
                                        hướng của từng chủ đề kênh
                                    </li>
                                </ul>
                                <h4 class="font-semibold text-lg">
                                    2. Nhiệm vụ và trách nhiệm chính:
                                </h4>
                                <ul class="list-disc pl-5 text-black pb-3">
                                    <li>
                                        Biên tập, chỉnh sửa, sáng tạo video cho
                                        các sản phẩm/hoạt động của công ty trên
                                        nhiều nền tảng online khác nhau (TikTok,
                                        Facebook, Youtube, TV...) Với đa định
                                        dạng video.
                                    </li>
                                    <li>
                                        Phối hợp với Content và Design để thiết
                                        kế video theo đúng yêu cầu và định hướng
                                        kênh.
                                    </li>
                                    <li>
                                        Đưa ra góp ý để hoàn thiện sản phẩm.
                                    </li>
                                </ul>
                            </div>

                            <!-- Yeu cau -->
                            <div class="pb-4">
                                <h3 class="text-xl text-theme-color">
                                    YÊU CẦU
                                </h3>
                                <h4 class="font-semibold text-lg">
                                    1. Kinh nghiệm:
                                </h4>
                                <ul class="list-disc pl-5 text-black pb-3">
                                    <li>
                                        Từ 01 năm kinh tnghiệm tại vị trí tương
                                        đương
                                    </li>
                                </ul>
                                <h4 class="font-semibold text-lg">
                                    2. Kiến thức chuyên môn:
                                </h4>
                                <ul class="list-disc pl-5 text-black pb-3">
                                    <li>
                                        Sử dụng thành thạo phần mềm Adobe
                                        Premiere, Capcut, Photoshop.
                                    </li>
                                    <li>
                                        Biết sử dụng các phần mềm After Effect,
                                        Adobe Audition là một lợi thế.
                                    </li>
                                </ul>
                                <h4 class="font-semibold text-lg">
                                    3. Kỹ năng:
                                </h4>
                                <ul class="list-disc pl-5 text-black pb-3">
                                    <li>Có nền tảng thẩm mỹ, bố cục tốt.</li>
                                    <li>
                                        Có khả năng tư duy sáng tạo, phân tích
                                        nội dung, chuyển tải ý tưởng.
                                    </li>
                                    <li>
                                        Có tư duy edit video hấp dẫn, sáng tạo,
                                        thích những cái mới, không ngại đổi mới.
                                    </li>
                                    <li>
                                        Có khả năng làm việc nhóm, làm việc độc
                                        lập.
                                    </li>
                                    <li>
                                        Nhanh nhẹn, cẩn thận, có trách nhiệm,
                                        ham học hỏi.
                                    </li>
                                    <li>
                                        Có khả năng đọc và hiểu tiếng Anh cơ
                                        bản.
                                    </li>
                                </ul>
                            </div>

                            <!-- Quyen loi -->
                            <div class="pb-4">
                                <h3 class="text-xl text-theme-color">
                                    QUYỀN LỢI
                                </h3>
                                <h4 class="font-semibold text-lg">
                                    1. Thu nhập:
                                </h4>
                                <ul class="list-disc pl-5 text-black pb-3">
                                    <li>Lương cứng 10.000.000 - 13.000.000đ</li>
                                </ul>
                                <h4 class="font-semibold text-lg">
                                    2. Thưởng:
                                </h4>
                                <ul class="list-disc pl-5 text-black pb-3">
                                    <li>
                                        Thưởng hiệu quả kênh hàng tháng (theo
                                        lượt view kênh trong tháng tại các mốc
                                        đạt 3 triệu, 6 triệu, 10 triệu
                                        views/tháng).
                                    </li>
                                    <li>Thưởng vượt mốc KPIs.</li>
                                    <li>
                                        Thưởng chung toàn công ty các dịp lễ,
                                        tết, sinh nhật công ty, sinh nhật nhân
                                        sự
                                    </li>
                                </ul>
                                <h4 class="font-semibold text-lg">
                                    3. Phúc lợi:
                                </h4>
                                <ul class="list-disc pl-5 text-black pb-3">
                                    <li>
                                        Du lịch, Team Building, Year End Party
                                        hàng năm.
                                    </li>
                                </ul>
                                <h4 class="font-semibold text-lg">
                                    4. Đào tạo:
                                </h4>
                                <ul class="list-disc pl-5 text-black pb-3">
                                    <li>
                                        Tham gia các khóa đào tạo chuyên sâu về
                                        Youtube.
                                    </li>
                                </ul>
                                <h4 class="font-semibold text-lg">
                                    5. Quyền lợi khác:
                                </h4>
                                <ul class="list-disc pl-5 text-black pb-3">
                                    <li>
                                        Được cấp máy tính 2 màn hình thỏa sức
                                        sáng tạo.
                                    </li>
                                    <li>
                                        Văn hóa làm việc không OT tại công ty.
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- content -->
                    </div>
                </div>
                <!-- row -->
            </div>
        </section>

        <Footer />
    </body>
</html>
