---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Hero from "../components/landing-page/Hero.astro";
import Hero2 from "../components/landing-page/Hero2.astro";
import About from "../components/landing-page/About.astro";
import Intro from "../components/landing-page/Intro.astro";
import Services from "../components/landing-page/Services.astro";
import Team from "../components/landing-page/Team.astro";
import Contact from "../components/landing-page/Contact.astro";
import Blog from "../components/landing-page/Blog.astro";
import Partner from "../components/landing-page/Partner.astro";
import Vision from "../components/landing-page/Vision.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<script
			is:inline
			type="text/javascript"
			src="https://cdn.jsdelivr.net/npm/@emailjs/browser@4/dist/email.min.js"
		></script>
		<script type="text/javascript">
			(function () {
				// https://dashboard.emailjs.com/admin/account
				emailjs.init({
					publicKey: "t130_KQBurbywPCS-",
				});
			})();
		</script>
		<script type="text/javascript">
			window.onload = function () {
				document
					.getElementById("contact-form")
					.addEventListener("submit", function (event) {
						event.preventDefault();
						// these IDs from the previous steps
						emailjs
							.sendForm(
								"service_i9n2gpb",
								"template_rkgn206",
								this,
							)
							.then(
								() => {
									alert("Email sent successfully!");
								},
								(error) => {
									alert("Failed email...", error);
								},
							);
					});
			};
		</script>
	</head>
	<body>
		<Header />
		<Hero />
		<Intro />
		<Vision />
		<About />
		<Team />
		<Services />
		<Partner />
		<Contact />
		<Footer />
	</body>
</html>
