---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Hero from "../components/landing-page/Hero.astro";
import About from "../components/landing-page/About.astro";
import Why from "../components/landing-page/Why.astro";
import Services from "../components/landing-page/Services.astro";
import Team from "../components/landing-page/Team.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<Hero />
		<About />
		<Why />
		<Services />

		<!--====== WORK PART START ======-->

		<section id="work" class="work_area bg-gray pt-120 pb-120">
			<div class="container">
				<div class="row justify-center">
					<div class="w-ull lg:w-1/2">
						<div class="section_title text-center pb-6">
							<h5 class="sub_title">Works</h5>
							<h4 class="main_title">Some of Our Recent Works</h4>
						</div>
						<!-- section title -->
					</div>
				</div>
				<!-- row -->
			</div>
			<!-- container -->
			<div class="container-fluid">
				<div class="work_wrapper relative">
					<div class="row work_active">
						<div class="w-full lg:w-3/12">
							<div class="single_item mx-auto">
								<div class="single_work mx-3">
									<div class="work_image">
										<img
											src="images/work-1.jpg"
											alt="work"
											class="w-full"
										/>
									</div>
									<div class="work_content">
										<a href="#" class="arrow"
											><i class="lni lni-chevron-right"
											></i></a
										>
										<h4
											class="work_title text-xl md:text-2xl"
										>
											<a href="#">Marketing</a>
										</h4>
										<p class="mt-2">NoCodeAPI</p>
									</div>
								</div>
							</div>
							<!-- single work -->
						</div>
						<div class="w-full lg:w-3/12">
							<div class="single_item mx-auto">
								<div class="single_work mx-3">
									<div class="work_image">
										<img
											src="images/work-2.jpg"
											alt="work"
											class="w-full"
										/>
									</div>
									<div class="work_content">
										<a href="#" class="arrow"
											><i class="lni lni-chevron-right"
											></i></a
										>
										<h4
											class="work_title text-xl md:text-2xl"
										>
											<a href="#">Creative Design</a>
										</h4>
										<p class="mt-2">UIdeck</p>
									</div>
								</div>
							</div>
							<!-- single work -->
						</div>
						<div class="w-full lg:w-3/12">
							<div class="single_item mx-auto">
								<div class="single_work mx-3">
									<div class="work_image">
										<img
											src="images/work-3.jpg"
											alt="work"
											class="w-full"
										/>
									</div>
									<div class="work_content">
										<a href="#" class="arrow"
											><i class="lni lni-chevron-right"
											></i></a
										>
										<h4
											class="work_title text-xl md:text-2xl"
										>
											<a href="#">Web Design</a>
										</h4>
										<p class="mt-2">GrayGrids</p>
									</div>
								</div>
							</div>
							<!-- single work -->
						</div>
						<div class="w-full lg:w-3/12">
							<div class="single_item mx-auto">
								<div class="single_work mx-3">
									<div class="work_image">
										<img
											src="images/work-4.jpg"
											alt="work"
											class="w-full"
										/>
									</div>
									<div class="work_content">
										<a href="#" class="arrow"
											><i class="lni lni-chevron-right"
											></i></a
										>
										<h4
											class="work_title text-xl md:text-2xl"
										>
											<a href="#">Analysis</a>
										</h4>
										<p class="mt-2">Ayro UI</p>
									</div>
								</div>
							</div>
							<!-- single work -->
						</div>
						<div class="w-full lg:w-3/12">
							<div class="single_item mx-auto">
								<div class="single_work mx-3">
									<div class="work_image">
										<img
											src="images/work-5.jpg"
											alt="work"
											class="w-full"
										/>
									</div>
									<div class="work_content">
										<a href="#" class="arrow"
											><i class="lni lni-chevron-right"
											></i></a
										>
										<h4
											class="work_title text-xl md:text-2xl"
										>
											<a href="#">SMM</a>
										</h4>
										<p class="mt-2">LineIcons</p>
									</div>
								</div>
							</div>
							<!-- single work -->
						</div>
						<div class="w-full lg:w-3/12">
							<div class="single_item mx-auto">
								<div class="single_work mx-3">
									<div class="work_image">
										<img
											src="images/work-2.jpg"
											alt="work"
											class="w-full"
										/>
									</div>
									<div class="work_content">
										<a href="#" class="arrow"
											><i class="lni lni-chevron-right"
											></i></a
										>
										<h4
											class="work_title text-xl md:text-2xl"
										>
											<a href="#">SEO</a>
										</h4>
										<p class="mt-2">PageBulb</p>
									</div>
								</div>
							</div>
							<!-- single work -->
						</div>
						<div class="w-full lg:w-3/12">
							<div class="single_item mx-auto">
								<div class="single_work mx-3">
									<div class="work_image">
										<img
											src="images/work-4.jpg"
											alt="work"
											class="w-full"
										/>
									</div>
									<div class="work_content">
										<a href="#" class="arrow"
											><i class="lni lni-chevron-right"
											></i></a
										>
										<h4
											class="work_title text-xl md:text-2xl"
										>
											<a href="#">Mobile App</a>
										</h4>
										<p class="mt-2">Rocket Internet LTD</p>
									</div>
								</div>
							</div>
							<!-- single work -->
						</div>
					</div>
					<!-- row -->
				</div>
			</div>
			<!-- container -->
		</section>

		<!--====== WORK PART ENDS ======-->

		<Team />

		<!--====== BLOG PART START ======-->

		<section id="blog" class="blog_area pt-120">
			<div class="container">
				<div class="row justify-center">
					<div class="w-full lg:w-1/2">
						<div class="section_title text-center pb-6">
							<h5 class="sub_title">Blog</h5>
							<h4 class="main_title">From The Blog</h4>
						</div>
						<!-- section title -->
					</div>
				</div>
				<!-- row -->
				<div class="row justify-center lg:justify-start">
					<div class="w-full md:w-8/12 lg:w-6/12 xl:w-4/12">
						<div
							class="single_blog mx-3 mt-8 rounded-xl bg-white transition-all duration-300 overflow-hidden hover:shadow-lg"
						>
							<div class="blog_image">
								<img
									src="images/blog-1.jpg"
									alt="blog"
									class="w-full"
								/>
							</div>
							<div class="blog_content p-4 md:p-5">
								<ul class="blog_meta flex justify-between">
									<li
										class="text-body-color text-sm md:text-base"
									>
										By: <a
											href="#"
											class="text-body-color hover:text-theme-color"
											>Musharof Chowdury</a
										>
									</li>
									<li
										class="text-body-color text-sm md:text-base"
									>
										15 June 2024
									</li>
								</ul>
								<h3 class="blog_title">
									<a href="#"
										>How to track your business revenue</a
									>
								</h3>
								<a href="#" class="more_btn">Read More</a>
							</div>
						</div>
						<!-- row -->
					</div>
					<div class="w-full md:w-8/12 lg:w-6/12 xl:w-4/12">
						<div
							class="single_blog mx-3 mt-8 rounded-xl bg-white transition-all duration-300 overflow-hidden hover:shadow-lg"
						>
							<div class="blog_image">
								<img
									src="images/blog-2.jpg"
									alt="blog"
									class="w-full"
								/>
							</div>
							<div class="blog_content p-4 md:p-5">
								<ul class="blog_meta flex justify-between">
									<li
										class="text-body-color text-sm md:text-base"
									>
										By: <a
											href="#"
											class="text-body-color hover:text-theme-color"
											>Musharof Chowdury</a
										>
									</li>
									<li
										class="text-body-color text-sm md:text-base"
									>
										15 June 2024
									</li>
								</ul>
								<h3 class="blog_title">
									<a href="#"
										>Improving products depending on
										feedback</a
									>
								</h3>
								<a href="#" class="more_btn">Read More</a>
							</div>
						</div>
						<!-- row -->
					</div>
					<div class="w-full md:w-8/12 lg:w-6/12 xl:w-4/12">
						<div
							class="single_blog mx-3 mt-8 rounded-xl bg-white transition-all duration-300 overflow-hidden hover:shadow-lg"
						>
							<div class="blog_image">
								<img
									src="images/blog-3.jpg"
									alt="blog"
									class="w-full"
								/>
							</div>
							<div class="blog_content p-4 md:p-5">
								<ul class="blog_meta flex justify-between">
									<li
										class="text-body-color text-sm md:text-base"
									>
										By: <a
											href="#"
											class="text-body-color hover:text-theme-color"
											>Musharof Chowdury</a
										>
									</li>
									<li
										class="text-body-color text-sm md:text-base"
									>
										15 June 2024
									</li>
								</ul>
								<h3 class="blog_title">
									<a href="#"
										>How to diversify your audience</a
									>
								</h3>
								<a href="#" class="more_btn">Read More</a>
							</div>
						</div>
						<!-- row -->
					</div>
				</div>
				<!-- row -->
			</div>
			<!-- container -->
		</section>

		<!--====== BLOG PART ENDS ======-->

		<!--====== CONTACT PART START ======-->

		<section id="contact" class="contact_area relative pt-18 pb-120">
			<div class="contact_image flex items-center justify-end">
				<div class="image lg:pr-13">
					<img src="images/contact.svg" alt="about" />
				</div>
			</div>
			<!-- about image -->

			<div class="container">
				<div class="row justify-end">
					<div class="w-full lg:w-1/2">
						<div class="contact_wrapper mt-11">
							<div class="section_title pb-4">
								<h5 class="sub_title">Liên hệ ngay với</h5>
								<h4 class="main_title">GODA Network</h4>
								<p>
									Hãy để lại lời nhắn của bạn cho GODA và
									chúng tôi sẽ liên hệ lại trong thời gian sớm
									nhất.
								</p>
							</div>
							<!-- section title -->

							<div class="contact_form">
								<form
									id="contact-form"
									action="php/contact.php"
									method="POST"
								>
									<div class="row">
										<div class="w-full md:w-1/2">
											<div class="mx-3">
												<div class="single_form mt-8">
													<input
														name="name"
														id="name"
														type="text"
														placeholder="Tên của bạn"
														class="w-full rounded-md py-4 px-6 border border-solid border-body-color"
													/>
												</div>
												<!-- single form -->
											</div>
										</div>
										<div class="w-full md:w-1/2">
											<div class="mx-3">
												<div class="single_form mt-8">
													<input
														name="email"
														id="email"
														type="email"
														placeholder="Email"
														class="w-full rounded-md py-4 px-6 border border-solid border-body-color"
													/>
												</div>
												<!-- single form -->
											</div>
										</div>
										<div class="w-full">
											<div class="mx-3">
												<div class="single_form mt-8">
													<textarea
														name="message"
														id="message"
														placeholder="Lời nhắn"
														rows="5"
														class="w-full rounded-md py-4 px-6 border border-solid border-body-color resize-none"
													></textarea>
												</div>
												<!-- single form -->
											</div>
										</div>
										<p class="form-message mx-3"></p>
										<div class="w-full">
											<div class="mx-3">
												<div class="single_form mt-8">
													<button
														type="submit"
														class="main-btn contact-btn"
														>Submit</button
													>
												</div>
												<!-- single form -->
											</div>
										</div>
									</div>
									<!-- row -->
								</form>
							</div>
							<!-- contact form -->
						</div>
						<!-- contact wrapper -->
					</div>
				</div>
				<!-- row -->
			</div>
			<!-- container -->
		</section>

		<!--====== CONTACT PART ENDS ======-->

		<!--====== Tiny Slider js ======-->
		<script src="../js/tiny-slider.js"></script>

		<!--====== Wow js ======-->
		<script src="../js/wow.min.js"></script>

		<!--====== Main js ======-->
		<script src="../js/main.js"></script>

		<Footer />
	</body>
</html>
