---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead />
		<link
			href="https://cdn.jsdelivr.net/gh/eliyantosarage/font-awesome-pro@main/fontawesome-pro-6.5.1-web/css/all.min.css"
			rel="stylesheet"
		/>
		<script
			type="text/javascript"
			src="https://identity.netlify.com/v1/netlify-identity-widget.js"
		></script>

		<!-- EmailJS -->
		<script
			is:inline
			type="text/javascript"
			src="https://cdn.jsdelivr.net/npm/@emailjs/browser@4/dist/email.min.js"
		></script>
		<script type="text/javascript">
			(function () {
				// https://dashboard.emailjs.com/admin/account
				emailjs.init({
					publicKey: "t130_KQBurbywPCS-",
				});
			})();
		</script>
		<script type="text/javascript">
			window.onload = function () {
				document
					.getElementById("contact-form")
					.addEventListener("submit", function (event) {
						event.preventDefault();
						// these IDs from the previous steps
						emailjs
							.sendForm(
								"service_i9n2gpb",
								"template_rkgn206",
								this,
							)
							.then(
								() => {
									alert("Email sent successfully!");
								},
								(error) => {
									alert("Failed email...", error);
								},
							);
					});
			};
		</script>
	</head>
	<body>
		<Header />
		<div
			class="bg-blend-normal bg-[url('/img/br.jpg')] h-screen relative text-center"
		>
			<div class="w-full h-full bg-blue-900 absolute opacity-20">
				<!-- Color Overlay -->
			</div>
			<div
				class="flex flex-col justify-center align-middle absolute w-full top-1/4 lg:top-1/3 gap-4 px-10"
			>
				<h1 class="text-white font-bold text-4xl lg:text-6xl pb-4">
					Chào mừng đến với <br /> GODA NETWORK
				</h1>
				<h2 class="text-white font-semibold text-2xl lg:text-3xl">
					Nơi đưa sáng tạo của người Việt ra toàn Thế giới!
				</h2>
				<p class="text-white text-lg lg:text-xl">
					8 năm Kinh nghiệm sản xuất nội dung Content trên Youtube với
					tổng cộng 15 triệu lượt đăng ký trên Youtube
				</p>
				<button><a href="#lh">Liên hệ</a></button>
			</div>
		</div>
		<!-- HEADER--><!-- HEADER--><!-- HEADER--><!-- HEADER--><!-- HEADER--><!-- HEADER--><!-- HEADER--><!-- HEADER--><!-- HEADER-->
		<div id="vct">
			<div class="card-container">
				<div class="card-info" data-aos="fade-up">
					<h2 class="font-bold">Đội ngũ Ban Lãnh Đạo</h2>
					<p>
						Để vươn lên trở thành doanh nghiệp hàng đầu về Youtube,
						không thể không nhắc đến những đóng góp to lớn của đội
						ngũ Ban lãnh đạo của Công ty GODA Media, đã điều hành
						doanh nghiệp một cách linh hoạt, hiệu quả, phát huy các
						lợi thế cạnh tranh cốt lõi, đưa Công Ty GODA Media phát
						triển bền vững.
					</p>
				</div>
				<div
					class="card"
					data-aos="fade-up"
					data-aos-anchor-placement="top-bottom"
				>
					<img src="img/1.jpg" />
					<div class="card-content">
						<p
							style="font-size: 20px;color:#040e27; border-bottom: none; line-height: normal; padding:15px 0 5px 0;"
						>
							Chủ tịch Hội đồng Quản trị
						</p>
						<h3 class="did">Nguyễn Văn Huân</h3>
						<h2>COB</h2>
						<div class="box-scroll">
							<p>
								<b>8 Năm kinh nghiệm thực chiến </b>làm content
								Youtube với con số tự hào: <br /><b
									>5 nút vàng</b
								> và hơn
								<b>40 nút bạc </b>từ Youtube. Tổng cộng hơn 15
								triệu người đăng ký trên Youtube.
							</p>
							<p>
								Co-Founder Công ty Cổ phần Phong Thủy Phùng Gia,
								Top 1 về thị phần Phong Thủy và độ phổ biến trên
								các nền tảng xã hội Youtube, Facebook, Tiktok
								thời điểm hiện tại.
							</p>
							<p>
								Founder Công Ty Cổ Phần Truyền Thông BMG Group
								với các hệ thống kênh content Phong Thủy, Sức
								Khỏe, Triết Lý, Phát Triển Bản Thân (Bí Quyết
								Thành Công), Lịch sử, đều thuộc Top lớn nhất của
								Việt Nam.
							</p>
							<p>
								Ngoài ra còn các Case study đã làm và hỗ trợ như
								thầy TRẦN VIỆT QUÂN, thầy PHẠM THÀNH LONG, Hoàng
								Mạnh Cường Topmax, Nguyễn Tất Kiểm, Tuệ An, Chú
								Tùng Trông Xe và các học viên thành công kiếm
								tiền từ View.
							</p>
							<p style="border-bottom: none;">
								Đặc điểm nổi bật là tất cả các công ty và Case
								đã làm hoặc hỗ trợ tới hiện tại vẫn đang trên đà
								phát triển mạnh.
							</p>
						</div><!--box-scroll-->
					</div><!--cardcontent-->
				</div><!--card-->
				<div
					class="card"
					data-aos="fade-up"
					data-aos-anchor-placement="top-bottom"
				>
					<img src="img/2.jpg" />
					<div class="card-content">
						<p
							style="font-size: 20px;color:#040e27; border-bottom: none; line-height: normal; padding:15px 0 5px 0;"
						>
							Giám đốc Công ty
						</p>
						<h3 class="did">Vũ Việt Hoàng</h3>
						<h2>CEO</h2>
						<p>
							<b> 7 năm kinh nghiệm </b>xây dựng hệ thống content <b
								>Youtube thị trường Mỹ</b
							>
						</p>
						<p style="border-bottom: none;">
							Top thịnh hành Trending Game toàn thế giới trong 3
							tháng liên tiếp
						</p>
					</div><!--cardcontent-->
				</div><!--card-->
				<div
					class="card"
					data-aos="fade-up"
					data-aos-anchor-placement="top-bottom"
				>
					<img src="img/3.jpg" />
					<div class="card-content">
						<p
							style="font-size: 20px;color:#040e27; border-bottom: none; line-height: normal; padding:15px 0 5px 0;"
						>
							Giám đốc Vận hành
						</p>
						<h3 class="did">Hồ Anh Tuấn</h3>
						<h2>COO</h2>
						<p>
							<b>10 năm kinh nghiệm tại VTC GAME </b>với vị trí
							Trưởng Phòng Thiết Kế
						</p>
						<p style="border-bottom: none;">
							Xây dựng App Game lên top 1 CH Play
						</p>
					</div><!--cardcontent-->
				</div><!--card-->
			</div><!--cardcontainer-->
		</div>
		<!-- BLD--><!-- BLD--><!-- BLD--><!-- BLD--><!-- BLD--><!-- BLD--><!-- BLD--><!-- BLD--><!-- BLD--><!-- BLD--><!-- BLD--><!-- BLD-->
		<div id="hst">
			<div class="network bg-[url('/img/br2.jpg')]">
				<div class="card-info" data-aos="fade-up">
					<h2 class="font-bold">Hệ Sinh Thái GODA NETWORK</h2>
					<p>Văn phòng trụ sở làm việc của GODA Network đặt tại:</p>
					<p
						style="font-weight: 700; color: #00bdfe; margin: 0 auto;font-size: 18px;"
					>
						80 Duy Tân, Cầu Giấy, Hà Nội. <br />
						Phố Duy Tân được mệnh danh là <strong
							style="color: #00d8c6">“Thung Lũng Silicon”</strong
						> của Hà Nội
					</p>
				</div>
				<div class="card-container">
					<div
						class="card2"
						data-aos="fade-up"
						data-aos-anchor-placement="top-bottom"
					>
						<div class="card2-content">
							<div class="editnet">
								<h3>GODA Media</h3>
								<p>Xây kênh Youtube thị trường Mỹ.</p>
							</div><!--editnet-->
							<img src="img/media.png" alt="" />
						</div>
						<!--card2-content-->
						<div class="card2-content">
							<div class="editnet">
								<h3>GODA Agency</h3>
								<p>Dịch vụ Xây Kênh & Quản lý kênh Youtube.</p>
							</div><!--editnet-->
							<img src="img/media2.png" alt="" />
						</div>
						<!--card2-content-->
						<div class="card2-content">
							<div class="editnet">
								<h3>GODA Tech and Invest</h3>
								<p>
									Phát triển Tools / App phục vụ hệ sinh thái.
								</p>
							</div><!--editnet-->
							<img src="img/media3.png" alt="" />
						</div>
						<!--card2-content-->
					</div><!--card2-->
					<div
						class="card2"
						data-aos="fade-up"
						data-aos-anchor-placement="top-bottom"
					>
						<div class="card2-content">
							<div class="editnet">
								<h3>GODA Entertainment</h3>
								<p>
									Sản xuất nội dung Content Sitcom Facebook.
								</p>
							</div><!--editnet-->
							<img src="img/media4.png" alt="" />
						</div>
						<!--card2-content-->
						<div class="card2-content">
							<div class="editnet">
								<h3>GODA Edu - Huan.vn</h3>
								<p>Đào tạo cách xây dựng kênh Youtube.</p>
							</div><!--editnet-->
							<img src="img/media5.png" alt="" />
						</div>
						<!--card2-content-->
						<div class="card2-content">
							<div class="editnet">
								<h3>MCN quản lý</h3>
								<p>
									Hỗ trợ các nhà sáng tạo trong cộng đồng
									riêng .
								</p>
							</div><!--editnet-->
							<img src="img/media6.png" alt="" />
						</div>
						<!--card2-content-->
					</div><!--card2-->
				</div><!--container-->
			</div><!--network-->
		</div>
		<!-- NET--><!-- NET--><!-- NET--><!-- NET--><!-- NET--><!-- NET--><!-- NET--><!-- NET--><!-- NET--><!-- NET--><!-- NET--><!-- NET-->
		<div id="vh">
			<div class="culture bg-[url('/img/br3.jpg')]">
				<div class="card-info" data-aos="fade-up">
					<h2 class="font-bold">Văn hóa GODA NETWORK</h2>
					<p style="margin: 0 auto; color: #00bdfe; font-size: 16px;">
						Excellence or Nothing - Xuất sắc hoặc Không có gì
					</p>
					<p
						style="margin: 10px auto; font-weight: 700; color: #00bdfe; font-size: 30px; padding-bottom: 40px;"
					>
						<strong
							style="font-size: 60px; font-style: italic; color:#face15 ;"
							>5</strong
						> niềm tin của tổ chức
					</p>
				</div><!--card-info-->
				<div class="card-container">
					<div
						class="card4"
						data-aos="fade-up"
						data-aos-anchor-placement="top-bottom"
					>
						<img src="img/1.png" />
						<div class="card-content">
							<p>
								<strong
									>" Trong mọi con đường tới thành công, nhất
									định có con đường ngắn nhất "</strong
								>
							</p>
							<p>
								Trong mọi cách làm, luôn luôn tồn tại một cách
								làm tốt hơn.
							</p>
						</div><!--cardcontent-->
					</div><!--card-->

					<div
						class="card4"
						data-aos="fade-up"
						data-aos-anchor-placement="top-bottom"
					>
						<img src="img/2.png" />
						<div class="card-content">
							<p>
								<strong>
									" Khi có đủ niềm tin, sẽ tạo ra động lực
									thực hiện không <br /> giới hạn "</strong
								>
							</p>
							<p>
								Khi thiếu niềm tin, sẽ vừa làm vừa nghĩ lý do
								thất bại.
							</p>
						</div><!--cardcontent-->
					</div><!--card-->
					<div
						class="card4"
						data-aos="fade-up"
						data-aos-anchor-placement="top-bottom"
					>
						<img src="img/3.png" />
						<div class="card-content">
							<p>
								<strong> " Internet hoặc Không có gì "</strong>
							</p>
							<p>
								Hãy bắt đầu tạo thêm 1 nguồn thu nhập mới trên
								internet ngay từ hôm nay.
							</p>
						</div><!--cardcontent-->
					</div><!--card-->
					<div
						class="card4"
						data-aos="fade-up"
						data-aos-anchor-placement="top-bottom"
					>
						<img src="img/4.png" />
						<div class="card-content">
							<p>
								<strong>
									" Tìm đúng người, hỏi đúng chuyện, làm đúng
									việc "</strong
								>
							</p>
							<p style="font-size: 40px;">"Play to Win"</p>
						</div><!--cardcontent-->
					</div><!--card-->
					<div
						class="card4"
						data-aos="fade-up"
						data-aos-anchor-placement="top-bottom"
					>
						<img src="img/5.png" />
						<div class="card-content">
							<p>
								<strong>
									" Hãy thành công theo cách đơn giản "</strong
								>
							</p>
						</div><!--cardcontent-->
					</div><!--card-->
				</div><!--container-->
			</div><!--culture-->
		</div>
		<!-- CUlTURE--><!-- CUlTURE--><!-- CUlTURE--><!-- CUlTURE--><!-- CUlTURE--><!-- CUlTURE-->
		<div id="dt"></div>
		<div class="partner">
			<div class="card-info" data-aos="fade-up">
				<h2 class="font-bold">Đối tác của GODA NETWORK</h2>
			</div><!--card-info-->
			<div class="card-container2">
				<div
					class="card4"
					data-aos="fade-up"
					data-aos-anchor-placement="top-bottom"
				>
					<img src="img/a.png" />
				</div><!--card-->
				<div
					class="card4"
					data-aos="fade-up"
					data-aos-anchor-placement="top-bottom"
				>
					<img src="img/b.png" />
				</div><!--card-->
				<div
					class="card4"
					data-aos="fade-up"
					data-aos-anchor-placement="top-bottom"
				>
					<img src="img/c.png" />
				</div><!--card-->
				<div class="card4">
					<img src="img/d.png" />
				</div><!--card-->
			</div><!--container-->
		</div><!--culture-->
		<!-- NET--><!-- NET--><!-- NET--><!-- NET--><!-- NET--><!-- NET--><!-- NET--><!-- NET--><!-- NET--><!-- NET--><!-- NET--><!-- NET-->
		<div class="support bg-[url('/img/br4.jpg')]" id="lh">
			<div class="card-container3">
				<div
					class="cardblock font-bold"
					data-aos="fade-up"
					data-aos-anchor-placement="top-bottom"
				>
					<h1 class="text-3xl">Liên hệ với</h1>
					<h3 style="font-size: 40px; ; color: #00bdfe;">
						GODA NETWORK
					</h3>
					<div class="form-block">
						<form id="contact-form">
							<div class="form-flex">
								<div class="form-group">
									<input
										name="name"
										id="name"
										type="text"
										class="form-control"
										placeholder="Tên của bạn"
										required
									/>
								</div>
								<div class="form-group">
									<input
										name="email"
										id="email"
										type="email"
										placeholder="Email"
										class="form-control"
										required
									/>
								</div>
								<div class="form-group">
									<textarea
										class="form-control2"
										name="message"
										id="message"
										placeholder="Lời nhắn"></textarea>
								</div>
								<button type="submit">Gửi</button>
							</div>
						</form>
					</div>
				</div><!--card2-->
			</div><!--container-->
		</div><!--network-->
		<div>
			<Footer />
			<!-- SCRIP--><!-- SCRIP--><!-- SCRIP--><!-- SCRIP--><!-- SCRIP--><!-- SCRIP--><!-- SCRIP--><!-- SCRIP--><!-- SCRIP--><!-- SCRIP--><!-- SCRIP--><!-- SCRIP--><!-- SCRIP-->
		</div>
	</body><!-- NET--><!-- NET--><!-- NET--><!-- NET--><!-- NET--><!-- NET--><!-- NET--><!-- NET--><!-- NET--><!-- NET--><!-- NET--><!-- NET-->
</html>
