<footer>
    <div class="card-container new">
        <div class="card foot screen">
            <img src="img/logo2.png" alt="" />
            <p style="line-height: 25px; font-size: 14px; padding-top: 8px;">
                Doanh nghiệp Top đầu Việt Nam trong lĩnh vực MMO (Make Money
                Online), với nhiều ngành nghề kinh doanh: Sản xuất nội dung,
                Game, Thương mại, Đào tạo, Dịch vụ giải trí, Dịch vụ sản xuất
                nội dung, CMS, MCN.
            </p>
            <ul class="float">
                <li>
                    <a href="https://www.facebook.com/godamedia.vn"
                        ><i
                            class="fa-brands fa-facebook"
                            style="font-size: 25px;padding-right:10px; color: #00bdfe;  "
                        ></i>
                        <!-- Example camera icon --></a
                    >
                </li>
                <li>
                    <a href="#"
                        ><i
                            class="fa-brands fa-telegram"
                            style="font-size: 25px; color: #00bdfe; padding-right:10px; "
                        ></i></a
                    >
                </li>
                <li>
                    <a href="#"
                        ><i
                            class="fa-brands fa-square-twitter"
                            style="font-size: 25px; color: #00bdfe;padding-right:10px; "
                        ></i></a
                    >
                </li>
                <li>
                    <a href="#"
                        ><i
                            class="fa-brands fa-instagram"
                            style="font-size: 25px; color: #00bdfe; padding-right:10px;"
                        ></i></a
                    >
                </li>
            </ul>
        </div><!--sec aboutus-->
        <div class="clear"></div>
        <div class="card foot danhmuc">
            <h2>Danh mục</h2>
            <ul>
                <li style="margin-top: 5px;">
                    <a href="#vct">Về chúng tôi</a>
                </li>
                <li><a href="#hst">Hệ sinh thái</a></li>
                <li><a href="#vh">Văn hóa</a></li>
                <li><a href="#dt">Đối tác</a></li>
                <li><a href="#lh">Liên hệ</a></li>
                <li><a href="tuyendung.html">Tuyển dụng</a></li>
            </ul>
        </div><!--sec quicklinks-->

        <div class="card foot">
            <h2>Đối tác</h2>
            <ul>
                <li style="margin-top: 5px;">
                    <a href="#">Phong Thủy Phùng Gia</a>
                </li>
                <li><a href="#">Thầy Trần Việt Quân & BKE</a></li>
                <li><a href="#">Enter Media & OEG Stadium</a></li>
                <li><a href="#">HV Thương Mại Điện Tử Topmax</a></li>
            </ul>
        </div><!--sec quicklinks-->

        <div class="card foot">
            <h2>Liên hệ</h2>
            <ul class="info">
                <li>
                    <h4
                        style=" color: #f6f6f6; font-size: 14px; font-weight: 400; margin-top: 5px;"
                    >
                        CÔNG TY CỔ PHẦN TRUYỀN THÔNG GODA<br />
                        <b style="font-size: 13px; line-height: 20px;;">
                            GODA MEDIA JOINT STOCK COMPANY</b
                        >
                    </h4>

                    <span
                        >Địa chỉ Công ty
                        <br /><strong style="color: #00bdfe; font-weight: 400;"
                            >HT Building, Số 80 Duy Tân, Cầu Giấy,<br />
                            Hà Nội</strong
                        ></span
                    >
                </li>
                <li>
                    <span
                        >Email Công ty
                        <br /><strong
                            style="color: #00bdfe; font-weight: 400;;"
                        >
                            tuyendung@godamedia.vn
                        </strong></span
                    >
                </li>
                <li>
                    <!--  <span>Số điện thoại
      <br>  <strong style="color: #00bdfe; font-weight: 400;"> 0988.068.012</strong></span></li>-->
                </li>
            </ul><!--sec quicklinks-->
        </div>
    </div>
    <div class="pb-8 flex justify-center text-white">
        Copyright © 2024. All rights reserved
    </div>
</footer>
