<header class="navbar m-0 text-white bg-black/95 fixed top-0 z-50 shadow-lg">
	<div class="navbar-start">
		<a href="/">
			<img
				src="/images/logo2.png"
				alt="GODA Media Logo"
				class="pl-2 w-[90%]"
			/>
		</a>
	</div>
	<div class="navbar-center hidden md:flex">
		<ul class="menu menu-horizontal px-1">
			<li>
				<details>
					<summary>Về chúng tôi</summary>
					<ul class="p-2 bg-black/95">
						<li><a href="/#intro">Giới thiệu</a></li>
						<li><a href="/#vision">Tầm nhin</a></li>
						<li><a href="/#vision">Sứ mệnh</a></li>
						<li>
							<a href="/#about">Giá trị cốt lõi</a>
						</li>
						<li>
							<a href="/#team">Đội ngũ lãnh đạo</a>
						</li>
					</ul>
				</details>
			</li>
			<li><a href="/blog">Con người GODA</a></li>
			<li><a href="/#services">Hệ sinh thái</a></li>
			<li><a href="/#partner">Đối tác</a></li>
			<li><a href="/#contact">Liên hệ</a></li>
			<li><a href="/tuyen-dung">Tuyển dụng</a></li>
		</ul>
	</div>
	<!-- Menu on Mobiles -->
	<div class="navbar-end">
		<ul class="menu menu-horizontal px-1 md:hidden">
			<li>
				<details>
					<summary>Menu</summary>
					<ul class="bg-black/95">
						<li>
							<details>
								<summary>Về chúng tôi</summary>
								<ul class="p-2 bg-black/95">
									<li><a href="/#intro">Giới thiệu</a></li>
									<li><a href="/#vision">Tầm nhin</a></li>
									<li><a href="/#vision">Sứ mệnh</a></li>
									<li>
										<a href="/#about">Giá trị cốt lõi</a>
									</li>
									<li>
										<a href="/#team">Đội ngũ lãnh đạo</a>
									</li>
								</ul>
							</details>
						</li>
						<li><a href="/blog">Con người GODA</a></li>
						<li><a href="/#services">Hệ sinh thái</a></li>
						<li><a href="/#partner">Đối tác</a></li>
						<li><a href="/#contact">Liên hệ</a></li>
						<li><a href="/tuyen-dung">Tuyển dụng</a></li>
					</ul>
				</details>
			</li>
		</ul>
	</div>
</header>
