---
import headerImg from "../../public/img/logo.png";
import { Image } from "astro:assets";
---

<header class="bg-white">
	<div class="mx-auto max-w-screen-xl px-4 sm:px-6 lg:px-8">
		<div class="flex h-16 items-center justify-between">
			<div class="md:flex md:items-center md:gap-12">
				<a class="block" href="/">
					<span class="sr-only">Home</span>
					<Image
						src={headerImg}
						alt="Goda Media Logo"
						class="object-contain h-16 w-fit self-start"
					/>
				</a>
			</div>

			<div class="hidden lg:block">
				<nav aria-label="Global">
					<ul class="flex items-center gap-6 text-base">
						<li>
							<a
								href="/#vct"
								class="text-black hover:text-blue-400 transition-all"
								>Về chúng tôi</a
							>
						</li>
						<li>
							<a
								href="/#hst"
								class="text-black hover:text-blue-400 transition-all"
								>Hệ sinh thái</a
							>
						</li>
						<li>
							<a
								href="/#vh"
								class="text-black hover:text-blue-400 transition-all"
								>Văn hóa</a
							>
						</li>
						<li>
							<a
								href="/#dt"
								class="text-black hover:text-blue-400 transition-all"
								>Đối tác</a
							>
						</li>
						<li>
							<a
								href="/#lh"
								class="text-black hover:text-blue-400 transition-all"
								>Liên hệ</a
							>
						</li>
						<li>
							<a
								href="/blog"
								class="text-black hover:text-blue-400 transition-all"
								>Con người GODA</a
							>
						</li>
						<li>
							<a
								href="/tuyen-dung"
								class="text-black hover:text-blue-400 transition-all"
								>Tuyển dụng</a
							>
						</li>
					</ul>
				</nav>
			</div>

			<!-- Sidebar -->
			<div class="drawer justify-end lg:hidden">
				<input id="my-drawer" type="checkbox" class="drawer-toggle" />
				<div class="drawer-content">
					<!-- Page content here -->
					<label
						for="my-drawer"
						class="btn btn-primary drawer-button font-medium"
						>Menu</label
					>
				</div>
				<div class="drawer-side">
					<label
						for="my-drawer"
						aria-label="close sidebar"
						class="drawer-overlay"></label>
					<ul class="menu bg-white min-h-full w-80 p-4 text-base">
						<!-- Sidebar content here -->
						<li>
							<a href="/#vct" class="text-black">Về chúng tôi</a>
						</li>
						<li>
							<a href="/#hst" class="text-black">Hệ sinh thái</a>
						</li>
						<li>
							<a href="/#vh" class="text-black">Văn hóa</a>
						</li>
						<li>
							<a href="/#dt" class="text-black">Đối tác</a>
						</li>
						<li>
							<a href="/#lh" class="text-black">Liên hệ</a>
						</li>
						<li>
							<a href="/blog" class="text-black">Con người GODA</a
							>
						</li>
						<li>
							<a href="/tuyen-dung" class="text-black"
								>Tuyển dụng</a
							>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</header>
