<header class="navbar m-0 text-white bg-black/95 fixed top-0 z-50 shadow-lg">
	<div class="navbar-start">
		<a href="#">
			<img
				src="/images/logo2.png"
				alt="GODA Media Logo"
				class="pl-2 w-[90%]"
			/>
		</a>
	</div>
	<div class="navbar-center hidden md:flex">
		<ul class="menu menu-horizontal px-1">
			<li>
				<details>
					<summary>Về chúng tôi</summary>
					<ul class="p-2 bg-black/95">
						<li><a>Giới thiệu</a></li>
						<li><a>Tầm nhin</a></li>
						<li><a>Sứ mệnh</a></li>
						<li><a>Giá trị cốt lõi</a></li>
						<li><a>Đội ngũ lãnh đạo</a></li>
					</ul>
				</details>
			</li>
			<li><a>Con người GODA</a></li>
			<li><a>Tuyển dụng</a></li>
			<li><a>Hệ sinh thái</a></li>
			<li><a>Đối tác</a></li>
			<li><a>Liên hệ</a></li>
		</ul>
	</div>
	<!-- Menu on Mobiles -->
	<div class="navbar-end">
		<ul class="menu menu-horizontal px-1 md:hidden">
			<li>
				<details>
					<summary>Menu</summary>
					<ul class="bg-black/95">
						<li>
							<details>
								<summary>Về chúng tôi</summary>
								<ul class="p-2 bg-black/95">
									<li><a>Giới thiệu</a></li>
									<li><a>Tầm nhin</a></li>
									<li><a>Sứ mệnh</a></li>
									<li><a>Giá trị cốt lõi</a></li>
									<li><a>Đội ngũ lãnh đạo</a></li>
								</ul>
							</details>
						</li>
						<li><a>Con người GODA</a></li>
						<li><a>Tuyển dụng</a></li>
						<li><a>Hệ sinh thái</a></li>
						<li><a>Đối tác</a></li>
						<li><a>Liên hệ</a></li>
					</ul>
				</details>
			</li>
		</ul>
	</div>
</header>
